[2017-06-13 21:25] billbliss opened #33 "Create wrappers for most of the Node BotBuilder fluent APIs"
Consider the following TypeScript code:
[code]
In particular, note the goofy `(msg as msTeamsBuilder.TeamsMessage)` cast before the botbuilder-teams addMentionToText method. If it's not there, it breaks, saying that `addMentionToText` is not a method of `botbuilder.Message`.

Which it isn't - it's a method of `TeamsMessage` -- but why the error? Because with the [Fluent](https://www.wikiwand.com/e

[2017-06-14 00:23] BillZengMSFT commented on #33
Thanks Bill, let me figure out. I think this is a very important finding which has to be fixed.

[2017-07-14 15:34] KristianKarpati opened #43 "TeamsMiddleware missing from npm package"
I was unable to get  Strip bot mentions from the message text to make work

[code]

[2017-07-24 18:18] aharriswlu commented on #43
I got the same issue

[2017-08-06 17:40] wictorwilen opened #46 "Invalid declaration of ComposeExtensionHandlerType"
Shouldn't the following export be changed as follows. Since `Error` is not a nullable type you always have to send an error?

Current implementation
[code]

Recommended:
[code]

Current implementation gives the following TypeScript error when transpiling `callback(null, ...)`: `error TS2345: Argument of type 'null' is not assignable to parameter of type 'Error'.`

[2017-08-07 18:36] rqc opened #47 "How to access address.serviceUrl without message"
Hi,

The example [here](https://github.com/OfficeDev/BotBuilder-MicrosoftTeams/blob/master/Node/samples/app.js) constructs dialogs using the `session.message.address.serviceUrl` parameter. In this example it makes sense to assume that this value will be in the context of a message, because it is in response to a user message. However, if I just want the bot to send a message or create a new conver

[2017-08-08 19:34] billbliss opened #48 "Please add simple "color" support to O365ConnectorCard.themeColor()"
Request: add the special values `good`, `warning`, and `danger` as theme colors. Slack has these and it's a lot easier than looking up the hex values.

I'm not set up to build or test this, but this works in my own version. If you'd rather, I could just submit a PR but it's not very clear how to set up the build environment and run the tests. @robin-liao I'll contact you offline.

Suggested source

[2017-08-09 17:23] RamjotSingh commented on #47
Since user will always be the first one to contact the bot (either through team or direct conversation) you can store the service url on bot's side for future reference. For example if user is part of a team which the bot was added to and bot would like to start a direct conversation with the user, bot can use the same service url as in the team messages to start conversation with the user. Same g

[2017-08-09 17:56] RamjotSingh commented on #46
@BillZengMSFT Can you take a look here?

[2017-08-09 18:09] BillZengMSFT commented on #43
Hi @KristianKarpati and @aharriswlu , do you guys try example?

`var stripBotAtMentions = new teams.StripBotAtMentions();
bot.use(stripBotAtMentions);`

[2017-08-09 18:20] BillZengMSFT commented on #46
Hi @wictorwilen  I think this link explains well https://github.com/Microsoft/TypeScript/issues/8322

[2017-08-09 18:33] aosolis commented on #43
StripBotAtMentions was added in v0.1.3, so please update the package to the latest first (v0.1.4).

[2017-08-10 15:21] brijrajsingh opened #50 "starting a new thread everytime the proactive dialog is started"
I have a MS Teams bot that records the conversations happening in a group conversation. But of course I am aware that the MS teams bots can't do the group conversations as of now. The conversations need to mention the bot in order to record the conversation and I am recording the conversations in a documentdb document.

I need to push new conversation topics using a proactive dialog, all nice and

[2017-08-10 17:35] RamjotSingh commented on #50
No there is no way of creating a new direct conversation between a user and a bot. Only one such unique conversation can exist. So even if you call create conversation multiple times it will always return the same conversation.

[2017-08-10 17:35] #47 closed

[2017-08-11 00:15] majordamage commented on #48
The [documentation for themeColor](https://docs.microsoft.com/en-us/outlook/actionable-messages/card-reference#card-fields) appears to disallow such use. Quoting:

- **Do** use `themeColor` to brand cards to your color.
- **Don't** use `themeColor` to indicate status.

[2017-08-11 06:34] billbliss commented on #48
That's nonsense. That's exactly what it's for.

[2017-08-11 06:35] billbliss commented on #48
(That documentation is incorrect.)

[2017-08-11 17:09] majordamage commented on #48
I suspect (although have no direct knowledge) that's why this property is named `themeColor` instead of simply `color` in the Slack style. Its usage parallels the `ThemeColor` class in SharePoint.

Having said that, I don't see any other candidate property that'd serve the purpose you propose, so...

[2017-08-14 17:54] #50 closed

[2017-08-15 19:28] jpoon opened #52 "Unable to serialize `ComposeExtensionAttachment`"
### Repro
1. Run any sample C# app that uses `ToComposeExtensionAttachment()` extension method (e.g. https://github.com/OfficeDev/microsoft-teams-sample-get-started/blob/master/CSharp/TeamsToDoApp/Compose/ComposeExtension.cs).
2. Serialization of https://github.com/OfficeDev/microsoft-teams-sample-get-started/blob/master/CSharp/TeamsToDoApp/Compose/ComposeExtension.cs#L75 blows up with the followi

[2017-09-14 23:24] aosolis opened #60 "[Node] Type declaration for Teams event classes have no properties"
The typing for the Teams event classes (TeamEventBase, etc.) have no properties declared. They should have tenant, team and channel properties, as appropriate.

[2017-09-14 23:26] RamjotSingh commented on #52
This should be fixed in the latest release nuget. Please reopen if this is not the case.

[2017-09-14 23:26] #52 closed

[2017-09-14 23:27] #43 closed

[2017-09-14 23:27] #46 closed

[2017-09-14 23:29] RamjotSingh commented on #48
Are we looking into this? Or has this been resolved?

[2017-09-14 23:30] RamjotSingh commented on #33
@BillZengMSFT Are we still tracking this?

[2017-09-14 23:35] aosolis opened #61 "[Node] Change signature of startReplyChain to reduce possibility of dev error"
The current signature for startReplyChain is prone to dev error, as what's conceptually the same information could be passed in multiple locations:
- message.address.serviceUrl vs serviceUrl parameter
- message.address.conversation.id vs. channelId parameter
The function can fail to return a valid address if the parameters contain inconsistent/incomplete information.

It would be better if the par

[2017-09-15 23:56] RamjotSingh commented on #60
@BillZengMSFT  Please take a look.

[2017-09-15 23:56] RamjotSingh commented on #61
@BillZengMSFT  Please take a look.

[2017-09-19 20:33] bilby91 opened #63 "Get conversation members when bot is installed only on private conversations"
We are experiencing issues when trying to get the members list of a 1vs1 conversation when the bot is installed only for private conversations. We are getting 404 thread not found. The thing is, if the bot is installed on a team, the same call is working . Is this the expected behavior ? If that is the case, how can we get the user information ?

Thanks!

[2017-09-19 20:47] RamjotSingh commented on #63
Response will have a header name ContextId. Can you please send us the value of this header along with the time you made the request? You can send this information to me on the email listed on my profile.

[2017-09-20 05:38] punpuny commented on #63
Get members list should work on both team and 1:1 conversations. @bilby91, can you get the 1:1 conversation id from user?

[2017-09-20 18:31] bilby91 commented on #63
We finally solved the problem. We were assuming that the serviceUrl was always the same for every teams account. It turns out that serviceUrl can be different depending on the tenant.

Thanks for the help!

[2017-09-27 15:33] robertobandeira opened #65 "Authorization on Teams Bot"
So I developed this bot for my company that has a few features to make the employees' lives easier. But some of these features should only be accessible for a few of the employees. Is there anyway you would recommend doing this sort of authorization (checking if the user has access to the feature) without the need for a log in action?

I was thinking of using the "message.From.Id" attribute when t

[2017-09-27 15:42] RamjotSingh commented on #65
Message.From.Id is unique per bot per user. So if you change your bot it will change. But otherwise on per-bot basis its constant and won't change.

[2017-09-27 16:17] gomteshhatgine opened #66 "How to get message details and chat history of conversation using bot"
## Bot Info

* SDK Platform: .NET
* Active Channels: MS Teams
* Deployment Environment:  Azure App Service

## Issue Description
My question related to MS teams compose extention
I have  side loaded bot using json  manifest   containing

` "composeExtensions": [
        {
            "botId": "39b2dead-ccab-4b8c-8c5d-*********",
            "scopes": [
                "personal",
                "

[2017-10-06 11:11] gomteshhatgine commented on #66
Any replies

[2017-10-12 18:13] jotrick commented on #66
Currently, what you are trying to do isn't supported. First, the card does not need to necessarily be the first message of the thread. Next, there are ways - with our callback structure you can add to Compose Extension card results - that you can know which card the user selected, but there is no way to know where the user sent that card (you can know the general conversation.id, but you won't kno

[2017-10-26 12:48] Mikhail2k15 opened #72 "RBAC for Bots"
My customer would like to have RBAC capabilities for bots in MS Teams.
Administrators should be able allow custom bots for only target groups of people (AAD security groups).
Administrators should be able to have an audit log about what's going on between user and bot.
DLP features would be valuable feature as well. (for example, block sending files via bot).

[2017-10-26 17:58] RamjotSingh commented on #72
@billbliss Would you be able to reply to above queries?

[2017-10-31 14:41] billbliss commented on #72
@Mikhail2k15, those are great feature ideas. A bot could enforce AAD SG membership itself by requiring the user to log in first, but a top-down way of enforcing this is good.

I will discuss this with the team, but in the meantime please add these as suggestions using UserVoice - click on the Feedback (lightbulb icon) and add these two feature ideas as individual requests so other users can vote o

[2017-11-06 19:50] #65 closed

[2017-11-06 19:51] #66 closed

[2017-11-06 23:13] santiagodoldan opened #73 "[Question] Is there a way to get the aadObjectId?"
I want to add a link in one email to let users access the 1:1 chat without having to search the private chat manually, the URL looks like `https://teams.microsoft.com/_#/conversations/19:(aadObjectId_here)_(bot_id_here)@unq.gbl.spaces?ctx=chat`. Is there a way or an endpoint to get that info? or can I build a different URL without the `aadObjectId` and access the 1:1 chat?

Thanks

[2017-11-06 23:27] RamjotSingh commented on #73
You can call GetTeamsConversationMembersAsync which gives full profile for the user. This has AAD Object ID in it.

[2017-11-06 23:46] aosolis commented on #73
@santiagodoldan Try using the deeplink to a chat:
https://teams.microsoft.com/l/chat/0/0?users=28:<bot_id>

[2017-11-07 02:21] santiagodoldan commented on #73
Deeplink works even better, they can choose to use the native app right there, thanks

[2017-11-07 02:21] #73 closed

[2017-11-21 22:54] yuimam opened #76 "[CSharp] How to mention to channel"
I'd like to ask about how to mention to channel or team in Microsoft Teams from Bot.
The following document says that such a type of mention is not supported.

https://docs.microsoft.com/ja-jp/microsoftteams/platform/scenarios/bots-channel-conversations#mentions

“At this time, team and channel mentions are not supported.”

Is it not supported even now?
And do you have any plan to support this?

I

[2017-12-11 17:53] santiagodoldan opened #80 "fetchMembers does not return all the users for different channels of the same team"
One of our accounts started a customer request saying that some users didn't get a message from our bot, after doing some researches I noticed that 2 channels of the same team were returning different users (we're using `fetchMembers`) is there a reason why 2 channels of the same team have more/less users? not sure if a user can change a configuration to not appear there.

I asked this user to rem

[2017-12-11 18:12] jotrick commented on #80
I'm guessing this issue is happening for you because you are using the channel.id to fetch the member list rather than that team.id to fetch the member list. Using the team.id should return the whole team's member list no matter the channel. Using the channel.id gives you a list of members that is formulaically figured out based on things like who has commented in this channel, who has favorited t

[2017-12-11 18:50] santiagodoldan commented on #80
@jotrick thanks, you're correct, passing the team.id returns the whole list of users.

The problem is that we don't have the team.id in some scenarios, shouldn't always return the same list given the channel.id anyway?

[2017-12-11 18:58] aosolis commented on #80
@santiagodoldan To clarify, what are scenarios where you have channel.id but not team.id? Is this one where you've cached the channel id but not the team id? Messages sent to your bot in a team context should always have both team and channel id in its channelData.

[2017-12-11 19:43] santiagodoldan commented on #80
@aosolis yes, our bot runs a scheduled job and tries to get the list of members based on checkins stored in the DB, some of them do not have a team id.

Are there any plans on implementing a new endpoint to get a list of team ids given a tenant?

[2017-12-12 11:46] Wajeed-msft commented on #76
@yuimam - Team and channel mentions are still not supported. Documentation for this will be updated once this feature is enabled (ETA March 2018).

[2017-12-17 20:35] bilby91 opened #81 "Bump ms-rest"
Would it be possible to bump `ms-rest` to the latest version ? Current one is using request 2.74 that uses a deprecated version of `uuid` (node-uuid) ?

[2017-12-17 20:36] #76 closed

[2017-12-17 20:36] RamjotSingh commented on #81
@BillZengMSFT Please take a look.

[2017-12-17 20:37] RamjotSingh commented on #80
@billbliss to answer the question above.

[2017-12-17 20:53] bilby91 commented on #81
@RamjotSingh @BillZengMSFT Created PR (#82 )

[2017-12-17 20:55] bilby91 opened #83 "Get teams a bot belongs to"
We having some complications in our application because we didn't cache all the team ids for the accounts that were created with our bot. We think it would be a really good idea to add an endpoint for getting the teams inside a tenant that a user belongs to.

Is this in the pipeline ? If not, could it be possible to add ?

I'm also aware of other people having similar issues with this as well.

[2017-12-18 19:21] RamjotSingh commented on #83
@billbliss

[2017-12-20 00:32] billbliss commented on #83
Yes, we agree - this is a problem that others have reported. We are currently investigating an overhaul of how bots are registered including this.

[2017-12-20 02:21] santiagodoldan commented on #80
@bilby91 thanks for that.

Going back to my previous issue, I'm thinking if it could be a good idea to document what @jotrick mentioned, I mean this part `Using the channel.id gives you a list of members that is formulaically figured out based on things like who has commented in this channel, who has favorited this channel, who was at-mentioned in this channel, etc.` because I'd expect a list havi

[2017-12-26 18:21] bilby91 commented on #83
@billbliss Thanks for the reply!

Any ETA for this change on bot registration ?

[2017-12-26 18:21] bilby91 commented on #81
Any updates ?

[2018-01-03 21:26] #80 closed

[2018-01-04 17:00] #81 closed

[2018-01-04 18:11] billbliss commented on #81
Thanks for the submission @bilby91, and apologies for the delay in accepting it.

[2018-01-05 12:49] santiagodoldan opened #84 "Failed to start conversation: no conversation ID returned."
Hello guys, I'm getting this error when trying to start a conversation with some users, I'd like to know if this is something ok because some user roles can't interact with bots or if there's something I can do to start a conversation with them.

These are the lines that throw the error https://github.com/Microsoft/BotBuilder/blob/master/Node/core/src/bots/ChatConnector.ts#L314-L321

Thanks :)

[2018-01-08 17:29] billbliss commented on #84
We need more information to answer your question.

What's **your** source code that's throwing the error?

[2018-01-08 17:55] santiagodoldan commented on #84
[code]

Not sure if you mean that

[2018-01-10 06:57] billbliss commented on #84
I can’t quite tell what the problem is. Are you saying that for some values of “...address” it’s working and for some it’s failing?

[2018-01-10 12:29] santiagodoldan commented on #84
@billbliss Yes, I'm pretty sure it is because our bot can't start direct conversations with some users.

Saying that, this is what we're doing, we get all the users from a channel and then start a conversation with each user, over the past few weeks, we got a bunch of errors saying `Failed to start conversation: no conversation ID returned.`, I guess that it might be related to a specific user typ

[2018-01-10 17:48] billbliss commented on #84
There are no restrictions on bot conversations by user role. We should investigate. How can we find this in our logs - should we look for the Suttna bot and the "Failed to start conversation" error? What's your app id?

[2018-01-10 17:50] santiagodoldan commented on #84
Is it ok to send some information to billbl@microsoft.com?

[2018-01-12 16:10] bilby91 commented on #83
Any updates on this ?

[2018-01-18 18:04] santiagodoldan commented on #83
@billbliss could you please give us a ETA? we'd love to fix some inconsistencies in our db with this fix. thanks :)

[2018-01-18 22:40] bilby91 opened #87 "ETA for new release ?"
Hello!

Was wondering if we could get an ETA for `v0.1.7`. Some of the fixes are important for us and the `next` tag is not what master has.

Thanks!

[2018-01-29 15:31] santiagodoldan commented on #84
@billbliss I finally was able to reproduce this 😌 , I've created a new tenant, then invited a user from that new tenant as a guest, tried to start a direct conversation and got the "Failed to start conversation: no conversation ID returned."

Then I was able to fix it too, looks like if the guest user explicitly talks with our bot, that gives them privileges to talk with it.

Is this an issue or i

[2018-01-29 21:11] santiagodoldan opened #88 "fetchMembers returns guest users with neither a name nor an email"
Hello guys, I've found one thing today playing with Guest users, when a tenant invites a guest user, `fetchMembers` returns the user with neither a name nor an email, but when that user accepts the invitation, then `fetchMembers` includes the name and email.

[2018-01-29 21:50] RamjotSingh commented on #88
@punpuny Can you take a look at this?

[2018-01-30 20:34] bilby91 opened #89 "startReplyChain and UniversalBot"
Hello,

Today we found something that now feels obvious but took us a while to figure out. When sending messages using `startReplyChain`, non of the middlewares of the bot are used. This makes a lot of sense since startReplyChain is only a connector API.

We opened a pull request (https://github.com/Microsoft/BotBuilder/pull/4120) to see if we can standardise this behaviour.

We want to know what

[2018-01-30 22:59] BillZengMSFT commented on #88
Will fix this thanks!

[2018-01-31 09:22] jatin085 opened #90 "heroImage property missing in class O365ConnectorCardSection"
I am not able to add hero image as mentioned [here](https://docs.microsoft.com/en-us/outlook/actionable-messages/card-reference#section-fields) since the `heroImage` property is missing in class `O365ConnectorCardSection`.

[2018-01-31 09:45] jatin085 commented on #90
It seems that Microsoft Teams does not support hero image that is mentioned in 'actionable message card' reference. I am closing the issue.

[2018-01-31 09:45] #90 closed

[2018-02-01 00:17] BillZengMSFT commented on #88
After investigation, we can't reproduce the issue. Will close.

[2018-02-01 00:17] #88 closed

[2018-02-01 00:46] bilby91 commented on #88
We are still able to reproduce this problem.

They key aspect to reproduce the problem is that the guest user doesn't have to login into teams after being invited. When this happen, the user is returned in the API but without name or email. Once the user has logged in at least one time, the data starts flowing correctly. I think that the correct behaviour should be:

1) Don't send the user at all

[2018-02-01 00:47] bilby91 commented on #84
This is kind of related to #88

[2018-02-01 00:59] BillZengMSFT commented on #88
Can you clarify the first step? Invite a user and the guest doesn’t login?

[2018-02-01 01:04] bilby91 commented on #88
Yes, sure. 

So, once you invite the guest user, the guest user needs to first login to the account he belongs to (not the account he has been invited). Then, to actually go into the account he has been invited, he needs to go to  the settings in the left bottom corner and switch accounts. If the guest user doesn't do this last step, email and name are empty when calling the api. 

Martín

On Wed,

[2018-02-01 02:42] BillZengMSFT commented on #88
@bilby91 can you provide you thread id and tenant id please? We actually didn't login and can't reproduce the issue

[2018-02-01 05:24] BillZengMSFT commented on #88
@bilby91 In your request, I am wondering if all of users in thread have empty email and name? Or some of users are empty?

[2018-02-02 11:16] blfuentes opened #91 "GetTextWithoutMentions Exception with Microsoft.Bot.Connector v3.13.0.3"
I update the Bot SDK to the latest version (3.13.0.3) and now whenever I try to use the method "GetTextWithoutMentions" I get the following exception:
`activity.Text = Connector.Teams.ActivityExtensions.GetTextWithoutMentions(activity);`

The Class 'Activity' does contain a property `public IList<Entity> Entities { get; set; }`

Any idea about this?

Microsoft.Bot.Connector 3.13.0.3
Microsoft.Bot.

[2018-02-02 12:48] blfuentes commented on #91
Checking the github for Microsoft.Bot.Connector:
https://github.com/Microsoft/BotBuilder/pull/4123/files#diff-74a60cf62b5d3668919f15c196994fc0
In IMessageActivity `IList<Entity> Entities { get; set; } `was removed

[2018-02-02 18:13] RamjotSingh commented on #91
We have engaged Bot Framework team and working on resolving this

[2018-02-02 18:18] santiagodoldan commented on #88
@BillZengMSFT can I send those ids to billzeng808@gmail.com?

Regarding if all the other users have empty email and name, the only one is the guest that haven't accepted the invite yet.

[2018-02-02 20:11] BillZengMSFT commented on #88
@santiagodoldan please send to zel@microsoft.com. Do you mean all users in thread get empty email and name?

[2018-02-02 20:48] santiagodoldan commented on #88
@BillZengMSFT now it works ok 🤔 that's weird, but nice 😂 . I also created a new guest user and it worked ok too, now I can get  the user and email 👏  Thanks

[2018-02-02 20:50] santiagodoldan commented on #84
@billbliss ping :)

[2018-02-02 21:14] RamjotSingh commented on #91
I see that while the Entities were removed from IMessageActivity it was added to IActivity. So the code should not be throwing this error. Can you ensure that you indeed have the right nuget package? Please delete the cached package and restore again and try?

[2018-02-02 22:04] aosolis commented on #91
I think moving a member from an interface to a base interface is a binary and source breaking change (see https://stackoverflow.com/questions/1456785/a-definitive-guide-to-api-breaking-changes-in-net). BotBuilder may have made a mistake doing this in a minor version update.

"Binary break is due to the fact that interface methods are fully qualified in generated IL for explicit implementations, an

[2018-02-05 07:15] blfuentes commented on #91
@RamjotSingh Yes, I double checked it. I have all up to date packages and it still doesn't work.
As workaround I just created a local function using the same code `GetTextWithoutMentions` has and it works. So I would say it could be related to the interface change @aosolis commented.

[2018-02-05 20:33] aosolis opened #92 "New handlers are added in a way that breaks existing code at runtime"
Before 0.1.7 added onSigninStateVerification(), bots had to handle signin/verifyState in their onInvoke handler. But with the upgrade to 0.1.6->0.1.7, existing code fails at runtime because signinStateVerificationHandler is missing.

TypeError: Cannot read property 'bind' of undefined
    at TeamsChatConnector.dispatchEventOrQuery (c:\Projects\my-app\node_modules\botbuilder-teams\lib\TeamsChatConn

[2018-02-07 14:19] bilby91 commented on #83
@billbliss @BillZengMSFT I found this in the Microsoft Graph documentation (https://developer.microsoft.com/en-us/graph/docs/api-reference/beta/api/user_list_joinedteams)

I'm wondering if this could be used in the context of a bot so that we can solve our issue.

Thanks before hand!

[2018-02-07 17:22] billbliss commented on #83
I'm afraid not. Azure Active Directory doesn't know about bot "users" currently, so they don't appear in the membership list for a group/team.

[2018-02-07 17:31] bilby91 commented on #83
@billbliss mmm, sad :(

Any progress with having this feature for bots ?

[2018-02-07 20:30] bilby91 commented on #83
@billbliss Another option that might works for us is if we could privately send the list of tenants that we need that data. Could that be possible at least ? We need to fix some old accounts data.

[2018-02-08 11:32] RamjotSingh commented on #91
Can you try updating to latest version of Bot.Builder https://www.nuget.org/packages/Microsoft.Bot.Builder/ I ran my tests and things seem to work fine.

[2018-02-08 12:46] blfuentes commented on #91
Perfect, I updated to the last version and it works.
I see they added the Entities Colletion into the IMessageActivity
https://github.com/Microsoft/BotBuilder/commit/9baa58a42c6291644b263bf6efd864631a74cb7c#diff-74a60cf62b5d3668919f15c196994fc0
The issue can be closed.

[2018-02-08 12:46] #91 closed

[2018-02-22 02:23] ilanopat opened #93 "[Question] Are there ways to know who is currently signed in to MS Teams?"
I would want to save it to a local session for reference to the bot that I'm making.

[2018-02-22 02:48] RamjotSingh commented on #93
From.Id is unique for every user and bot combination. So you can store data against From.Id if you are using the data in same bot.

[2018-02-22 04:00] ilanopat commented on #93
I see, that's for when a user initiated an Activity to the bot, right? But what if the bot only gathered information to the channel members and proactively messaged each member. How will i know who is currently signed in?

[2018-02-22 05:33] Wajeed-msft commented on #93
Do you want to know user’s presence status like Available, Busy, Away? This on the API roadmap but it's not possible as of today.

[2018-02-22 06:20] ilanopat commented on #93
Okay, I see, so there is no other way where a bot can identify the user who is currently signed in? I just really need the user info of who is currently signed in using the bot. Anyway so for the roadmap if ever, can you add a feature where the bot can know if a channel member is online? Like the bot in a channel can be notified for when a channel member is online. Looking forward to the API devel

[2018-02-25 20:21] rjgmail88 commented on #93
@ilanopat, did you mean when a bot is added to MS teams there isnt way to find (in bot code) who is chatting ? I see session object only has channel source as msteams.
I am trying to do similar thing as you mentioned to get user authenticated.
https://github.com/Microsoft/BotBuilder/issues/4229

[2018-02-25 20:21] rjgmail88 opened #94 "Authenticate a user in Microsoft Teams"
## Bot Info
* SDK Platform:Node.js
* SDK Version: latest
* Active Channels: MS Teams, CORTANA
* Deployment Environment:  Azure Bot Service, Azure App Service

## Issue Description
I have a bot running as Cortana skill which works as meeting room finder. With Cortana channel and using sing-in at skill invocation which popup the sign-in window & authenticates user against Azure  ADv1. Once use signe

[2018-02-26 04:04] ilanopat commented on #93
@rjgmail88 kind of, yes. In .NET I can see all the members of a channel using the connectorclient via GetConversationMembersAsync() function. But all I want to know is who is the user currently signed in from the channel members?

[2018-02-26 06:53] jotrick commented on #93
@ilanopat - hi - I'd really like to know more about the scenario you are trying to solve to try and help. As it is stated above, knowing the status of the various team members is currently not available, so if you are wanting to know who, out of the whole list of team members, is currently logged onto Teams, then this functionality is not supported. It sounds like you may be looking for something

[2018-02-26 07:06] jotrick commented on #94
Hi @rjgmail88 - it really depends on what information you are looking for. If you only need the AAD object.id of the user sending a message to the bot, then this information is included in the incoming payload of the message. If you want a usable token to do things like make a call to Graph, then you will need to set up an authentication flow similar to this example https://github.com/OfficeDev/mi

[2018-02-26 15:22] rjgmail88 commented on #94
@jotrick , thanks. I did some research and found away to grab user info. from conversationId,serviceUrl
by using botbuilder-teams npm.
[code]
I am able to fetch all the information about a user like aadobjectid, name,fullname,email etc. But I'm wondering how by bot is having this info. available in payload. Any ideas ?

The reason I concerned because,
1.My bot has been registered using personal MS

[2018-02-26 17:21] rjgmail88 opened #95 "ChatConnector vs. TeamsChatConnector"
I am not able to decide if I can user builder.ChatConnector() instead  teams.TeamsChatConnector() for my nodejs bot service. Can we use ChatConnector for a bot which can be used in MS teams or we can have TeamsChatConnector() for MS teams 1:1 bot & can be used for other channels like Cortana,skype etc. My BOT service currently has ChatConnector() and Cortana channel. We added MS teams channel & th

[2018-02-26 18:13] RamjotSingh commented on #95
TeamsChatConnector exposes additional functionality which is not exposed through ChatConnector. But unless you explicitly require this functionality you can work with ChatConnector alone.

[2018-02-26 18:16] RamjotSingh commented on #92
@BillZengMSFT Can you please take a look at this?

[2018-02-26 18:18] RamjotSingh commented on #87
v0.1.7 is out now.

[2018-02-26 18:18] #87 closed

[2018-02-26 19:34] rjgmail88 commented on #95
@RamjotSingh, Thanks for response. Yes, I require functionality from TeamsConnector. Did you mean if I use TeamsChatConnector over ChatConnector I will be getting more feature and it will be ok with other chat channel like Cortana in app chat ?
I guess TeamsChatConnector **extends** ChatConnector ?

[code]

[2018-02-26 23:56] ilanopat commented on #93
Yes maybe I'm looking for something different that's still not implemented, I'm doing a proactive bot that sends a sign in message to each member of a channel. I'm trying to save the session of a user who will make a sign in from the trigger in the callback, and use that session to message again the user with an api function.

[2018-02-27 15:30] MarkHerhold opened #96 "nodemon dependency in botbuilder-teams"
`nodemon` is defined as a dependency. It should probably be a dev dependency.
https://github.com/OfficeDev/BotBuilder-MicrosoftTeams/blob/master/Node/package.json#L16

[2018-02-28 02:41] rjgmail88 opened #97 "Failed to trigger welcome messages in 1:1 conversations with BOt"
I'm trying to send a welcome message to a user when bot is added to MS teams for 1:1 chat. In this scenario user will be simply pasting BOT_Id in search bar on MS teams and bot should be visible for chat.  As mentioned in following document I grabbed a code and modified for teamsAddMembers eventType but it does not work. In my case user has to wake up the bot by typing some command.

[https://docs

[2018-03-01 06:35] ilanopat opened #98 "[Question] Is it possible to load custom state without any access to context or activity?"
I have an API controller that calls a class which messages the user for the notification I'm doing for my app. Is there any possible way to access the custom state if I'm not using Dialogs?

[2018-03-01 06:38] RamjotSingh commented on #98
Not sure what you mean by custom state here. Are you talking about data stored in Bot State API? Or somewhere else?

[2018-03-01 07:00] Wajeed-msft commented on #97
Please create and sideload [app package](https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/apps/apps-upload) into Microsoft Teams.
![add for you](https://user-images.githubusercontent.com/31851992/36830744-f1d10a4a-1d4a-11e8-9206-37329b888847.png)
You would get conversationUpdate when you install the bot for personal scope. This is how user is going to start using your bot. User wi

[2018-03-01 07:10] billbliss commented on #97
You're close, @rjgmail88. Here's a detailed explanation: https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/bots/bots-notifications

[2018-03-01 07:43] ilanopat commented on #98
Oh, sorry. I mean I implemented a custom state which saves the state on using sql.

[2018-03-01 08:02] RamjotSingh commented on #98
Dialogs are one way to write bots and they work well with cases where users are sending messaging and you are responding to them, but not with proactive case (where server tries to initiate the conversation or take an action without user performing an action).

For these cases you can retrieve the data from your storage based on the key you stored it against and then create Activity yourself. You

[2018-03-01 09:32] ilanopat commented on #98
[code]
like this?

[2018-03-01 15:52] rjgmail88 commented on #97
Thanks @billbliss and @Wajeed-msft , I will try those steps and let you know how it goes. I was following this document which says user BotID or create a deeplink
[https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/bots/bots-test](https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/bots/bots-test)

[2018-03-01 15:57] rjgmail88 commented on #97
@Wajeed-msft , in the document you pointed says

For bots designed only for 1:1 contexts, see [Adding a bot for 1:1 chat only](https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/bots/bots-test#adding-a-bot-for-11-chat-only) for an alternate way to access for testing purposes.

If I create an App then I need to upload it teams to use it. I my use case we are going to roll this in our

[2018-03-01 18:20] billbliss commented on #98
As Ramjot says, to post to a conversation (whether it's a chat or a channel) you need the ID of that conversation.

In our opinion it's too difficult to do "proactive messages" which is what we call it and we're looking to simplify it.

Taking a step back, what are you trying to do? The use case, that is?

[2018-03-01 18:29] billbliss commented on #97
Most likely, yes, because we don't yet have a way of adding "enterprise apps" (including bots) to our app store.

You can, however, create a URL to launch a conversation with your bot which will, in effect, install it for the user as a side-effect. The deep link is in the form:

`https://teams.microsoft.com/l/chat/0/0?users=28:<botID>` (you can see it in the Bot Framework portal for your bot, for

[2018-03-01 18:34] billbliss commented on #96
Good catch. Created a PR to move it: https://github.com/OfficeDev/BotBuilder-MicrosoftTeams/pull/99

[2018-03-01 18:34] #96 closed

[2018-03-01 21:44] rjgmail88 commented on #97
Thanks for the response. So you do recommend using a deep link for enterprise bots ? And going back to my original question about welcome messages in 1:1 chat, I guess I'am still unclear weather its possible.
[https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/bots/bots-notifications](https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/bots/bots-notifications)
there is

[2018-03-01 23:48] ilanopat commented on #98
Okay, I see, I'm using Azure SQL for the implementation of custom state, I have an API controller which can be triggered by third-party API, and then this API controller that I wrote calls another class which has a function to send a message to the user, my problem is when my API is called by the third-party API, I have no details of whom the bot is going to send the message to. The code from abov

[2018-03-02 02:33] billbliss commented on #97
A deep link is a good solution, except I should add the caveat that the deep link approach I suggested won't work unless app sideloading is turned on for your tenant (because it's a form of sideloading).

For example Microsoft has sideloading turned on, but a lot of larger companies do not.

Also I took a closer look at your code as well as some sample code of ours and found your problem. You're c

[2018-03-02 04:10] rjgmail88 commented on #97
I tried the deep link approach for couple of other users and it does work for us. I'm able to pull a specific user info from our _tanant_.

[code]
I would try out your code and see how it goes. Just to confirm it will only trigger when a BOT is added in teams for the very first time by a user right ? So for testing I really need to create a fresh BOT and try I believe because, I already have a bot

[2018-03-02 04:54] billbliss commented on #97
Yes the inability to reset the initial state is a problem. We are working on that now on fact. You can use a different botid / secret to test though.

[2018-03-02 08:31] ilanopat opened #100 "Custom State not showing any data when deployed in Azure App Services."
I'm saving a state from a result coming from API request on third-party API. When I access it using Dialog Context, it's not showing.

[2018-03-02 14:27] billbliss commented on #100
What state provider are you using?

[2018-03-02 17:15] rjgmail88 commented on #97
@billbliss , I did create a new bot and copied your code in my bot services. This time it run through the code because following flag was true as you described earlier.
[code]
However, when I added a bot by copying BotId in teams nothing happened. User had to type something to wake the bot up. After first message from user it went through the code you mentioned.

Is it expected ?

[2018-03-02 17:58] RamjotSingh commented on #98
If you want to send a proactive message at the very least you need these things :-
- Service Url
- User Id (From.Id) or ConversationId (For 1:1 you can use From.Id and call Create conversation with it to get the conversationId but for teams and channels conversation Id is a must).

How are you planning to send the proactive message though? For example what triggers it? How do you know which conver

[2018-03-04 23:33] ilanopat commented on #100
Azure SQL

[2018-03-05 04:56] rjgmail88 opened #101 "Prompts.choice() dont work for voice client HK Invoke"
I have been trying to get the answer since long. I had posted it here [*] so thought I will have have better luck if I post here.

*
https://social.msdn.microsoft.com/Forums/en-US/db25e4e6-8a9c-4e4d-a17a-588551175914/choice-prompts-dont-work-with-cortana-voice-clients?forum=cortanaskillskit

[2018-03-05 05:27] RamjotSingh commented on #101
This repo deals with Microsoft Team alone. Try asking on Microsoft Bot Builder repo here https://github.com/Microsoft/BotBuilder

[2018-03-05 05:27] #101 closed

[2018-03-05 05:29] RamjotSingh commented on #100
Extension SDK does not deal with data storage (or Dialogs for that matter). Did you try asking BotFramework folks at https://github.com/Microsoft/BotBuilder

[2018-03-05 09:08] ilanopat commented on #100
Okay I see, I actually asked them before about the custom state, if it can be accessed inside Dialogs they said yes and through context but it's during my debugging on localhost. And I saw different results from when I access it through the scope and through dialogs (btw I'm using IBotDataStore), I guess I'm just gonna ask them now that I'm hosting it on Azure.

[2018-03-05 15:11] jotrick commented on #94
Hi - for starters, your code snippet was cut off, so I'm not sure what function you are using, but I'm guessing it is the fetch roster function.

Second, I'm not entirely sure what your concern is. Are you looking for more information or are you concerned as to why your bot has access to this information? If you are looking for more information, then you can authenticate a user in such a way as to

[2018-03-05 15:22] jotrick commented on #93
Hi - I'm assuming the part about "bot that sends a sign in message to each member of a channel" isn't what is giving you problems. What sort of "session" are you trying to save? A session as a cookie? A session in the bot's back end in the user data?

Is the flow you are trying to do:
1. Send a proactive message to the person with a sign in action
2. The user eventually "clicks the button" to star

[2018-03-05 15:28] billbliss commented on #93
@ilanopat, are you asking, for examplE:

"There are 10 people on a team, only 5 are currently online at a particular instant, I want to know who those 5 are so I can send them a message"

[2018-03-05 15:41] jotrick commented on #97
Yes, the flow of typing a guid into the search box and pulling up that bot does not actually create a conversation with that bot, so the member added event is not triggered yet. (It would be like searching for a new person, seeing the blank place a chat could be started, and then clicking away - that chat was never created so it is not placed in the left rail as a chat) There are very specific flo

[2018-03-05 15:55] rjgmail88 commented on #94
@jotrick , sorry for the inconvenience. Here is the actual code I'm using.

[code]
My apologies for not being clear on my concern but those are really around stopping anyone from outside (people who create/use bot using personal MSA but not in our corporate Tenant.) using our enterprise level bot. I am confused if I need to do any 2nd level authentication for this BOT. However, I am not looking fo

[2018-03-05 16:12] rjgmail88 commented on #97
@jotrick , I am actually using a deep link **teams.microsoft.com/l/chat/0/0?users=28:{botID}**
is it same a guid into the search box method ?
I guess manifest.json configuration and all come when I convert my BOT into an artifact (using gulp) and load it as an app in MS teams for a specific team/channel.

I have a bot with multiple channels Cortana , skype and MS teams. I need to make it BOT avail

[2018-03-05 20:44] #100 closed

[2018-03-05 20:53] aosolis commented on #94
channelData has the tenant id of the user that sent the message. You can use that to restrict the users your bot responds to. Placing this logic in bot middleware (https://docs.botframework.com/en-us/node/builder/chat-reference/interfaces/_botbuilder_d_.imiddlewaremap.html) is a good way to do this filtering.

[code]

[2018-03-05 21:47] rjgmail88 commented on #94
Thanks @aosolis, I am using following Middleware for logging each message from BOT or user. Let me know if this is what you meant or something else.

[code]

[2018-03-05 22:24] aosolis commented on #94
Yes, you can add another piece of middleware that will inspect the incoming message and continue processing only if the message came from the tenant you were expecting.

[2018-03-06 00:13] ilanopat commented on #93
@jotrick Hi, yes, I'm doing that exact same thing, and I'm saving the session in the bot custom state, in the user data. So when my API controller is being called by an external API which sends the details that I need, to construct the proactive message, in the payload, I'm having troubles with it, because the bot doesn't have any idea to which user it needs to send it to.

@billbliss yeah, kinda

[2018-03-06 00:58] billbliss commented on #93
The API you're referring to we call "presence" and it's not exposed yet. Definitely on the list but we don't yet have an ETA.

[2018-03-06 02:33] billbliss commented on #94
I wrote a StackOverflow post on this a while back that shows how it's done: https://stackoverflow.com/questions/40398565/securing-traffic-from-microsoft-teams-to-a-bot

[2018-03-06 02:56] jotrick commented on #93
@ilanopat - it sounds like you have an API controller that is called externally. It sounds like the "something external" calls your API which you want to trigger some amount of proactive messages to users. If that is correct, then I would say you need the external trigger to carry the information needed to know who to message. Some of the patterns we have seen:

Things like oauth flows can store t

[2018-03-06 03:34] ilanopat commented on #93
Yes, that's it @jotrick

[2018-03-06 14:42] jotrick commented on #93
@ilanopat - Does this answer your question about a pattern you could follow or do you still have questions?

[2018-03-07 01:31] ilanopat commented on #93
yes. You can close this now, I'll just open a new issue if ever I encounter one. Thank you

[2018-03-07 01:36] ilanopat commented on #98
I had solved the issue, thank you. You can close this now, I'll just open a new issue if I encounter one.

[2018-03-07 01:38] #98 closed

[2018-03-07 02:17] #93 closed

[2018-03-07 03:14] rjgmail88 commented on #94
Thanks @billbliss and @aosolis.

[2018-03-12 23:28] dekpient opened #102 "NSP check fails"
Node `botbuilder-teams` pulls in an older version of `ms-rest` which eventually pulls in a version of `hoek` with a vulnerability.

`nsp check` fails with the following output:

[code]

[2018-03-12 23:36] RamjotSingh commented on #102
@BillZengMSFT , @aosolis Please take a look.

[2018-03-30 18:55] rjgmail88 opened #103 "BOT stopped working in MS teams."
I have a BOT with MS teams channel that is migrated from BF portal to azure couple of weeks back. It has Azure web app running behind where code is deployed. I manage all Bot settings in Azure now as on 31st March BF portal might go away. So far until 28th March my bot in MS teams was working fine. I have a screenshot attached.
This is enterprise level bot which will be used by almost 25k people a

[2018-03-30 20:07] billbliss commented on #103
Try changing the endpoint again - even if it's to the same thing - and try again. Over the past few days we've had a live site incident in the system that connects Bot Framework and Skype (which powers the back end of Teams).

[2018-03-30 20:17] rjgmail88 commented on #103
I did try several times but did not work. Based on your response looks like it is backend issue. Any suggestions ? Can you please update here once its back up ?
Thanks

[2018-03-30 21:14] billbliss commented on #103
Did you try just now? It should have been fixed by about noon Pacific time. If not, what's your bot ID?

[2018-03-31 17:30] rjgmail88 commented on #103
@billbliss , I did try with another BOT and its working but the one I mentioned in the screenshot is still . not. Here is the bot ID bc6873dc-1736-40be-98cc-b55df64647b4

[2018-04-04 03:30] Wajeed-msft commented on #103
@rjgmail88 : Could you please try updating the endpoint once more and let us know?

[2018-04-10 15:00] rjgmail88 commented on #103
Sure, I will update soon on this.

[2018-04-12 14:08] rjgmail88 commented on #103
@Wajeed-msft bot ID bc6873dc-1736-40be-98cc-b55df64647b4 is working now.I am facing one more issue where Bot display name is not getting updated. I changed the bot name on dev bot portal.
Let me know if I should open a new issue .

[2018-04-12 15:19] Wajeed-msft commented on #103
@rjgmail88 Glad to know that your issue is resolved.
Regarding the bot's name, I could see your bot name as "Gina Demo Bot". What is the bot name that you have set?
Could you please try your bot from a different user account? There is a possiblity that bot name is cached.

[2018-04-12 16:07] rjgmail88 commented on #103
@Wajeed-msft , I confirmed for new users it is showing correct/expected name.

[2018-04-12 16:13] billbliss commented on #103
Once an app is in the AppSource store (what appears in the "Store" icon in Teams, the name there takes precedence. If it's been sideloaded by users, the cached bot name takes precedence. There's no way to force an update other than the AppSource directory.

[2018-04-12 16:31] rjgmail88 commented on #103
I haven't side loaded these bots and used following link to access it. Not sure if its called side-loading.
teams.microsoft.com/l/chat/0/0?users=28:{botID}

I just confirmed bot the bots mentioned above are not part of a MS Store. What is AppSource directory ? and there is not way to force name update ? I can open support ticket with Microsoft if needed. We have premier support.

[2018-04-13 00:59] rjgmail88 commented on #103
@Wajeed-msft could you update us this please ?

[2018-04-13 06:45] billbliss commented on #103
The URL you are using is a form of sideloading.

[2018-04-13 14:35] rjgmail88 commented on #103
Thanks @billbliss , so there is no absolute way to fix the name? Not in the future too ?

[2018-04-14 10:20] serialoverflow opened #105 "Autocompletion feature for bot commands, like "Who"-Bot in MS Teams"
The "Who"-Bot in Microsoft Teams is implementing a very useful autocompletion feature for Bot commands.
Here is how it looks:
![screen shot 2018-04-13 at 14 18 47](https://user-images.githubusercontent.com/279131/38734368-aba6533e-3f25-11e8-8a73-aa42071d59a2.png)
![screen shot 2018-04-13 at 14 19 02](https://user-images.githubusercontent.com/279131/38734369-abbe4a8e-3f25-11e8-8c61-5f5886f3e37c.png

[2018-04-14 10:33] RamjotSingh commented on #105
Please refer to https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/bots/bots-menus

[2018-04-14 10:36] serialoverflow commented on #105
Thank you for the quick response and sorry about wasting your time. I should have found that in the documentation.

[2018-04-14 10:36] #105 closed

[2018-04-16 20:26] BillZengMSFT opened #106 "O365ConnectorCardActionBaseAction misses fields for Derived classes"
O365ConnectorCardActionBase class only contains type, name and id. When parsing json of specific derived type of actions, it would omit other fields.

[2018-04-19 19:59] RamjotSingh commented on #106
Extension SDK is not meant for deserialization but for serialization as bots at this moment can't receive O365Cards.

[2018-04-19 19:59] #106 closed

[2018-05-09 08:31] petetakacs opened #110 "C# sdk for Bot Framework v4 preview?"
Hi,

Just started to play a bit with the preview Bot Framework v4. I was wondering will there be a Teams Bot Connector for Bot Framework v4 or is there a preview package available at this moment?

thanks in advance!

Peter

[2018-05-09 11:20] register9091 opened #111 "List Card not found"
Hi,

Could you please add samples so that we could try out
https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/cards/cards-reference#list-card

Also i was unable to find the same in botbuilder-teams.d.js. Where is it defined ?

Thanks

[2018-05-10 12:34] Wajeed-msft commented on #110
We have been tracking the v4 work and will release an updated SDK but we do not have a date yet.

[2018-05-10 21:29] nguyendn opened #112 "Use Message Card JSON on TeamsMessage attachments"
I've integrated Actionable Message to Outlook and I want to re-use the message generator on Teams.

Is it possible that I re-use the Message Card JSON ( example here https://messagecardplayground.azurewebsites.net/ ) to do something like:

`new teams.TeamsMessage(session).summary("Use O365 actionable card").attachments([Message Card JSON]);`

I tried and I have this error :

`POST to 'https://smba

[2018-05-11 04:59] register9091 commented on #111
Could you please provide an example on how to use the JSON manually ? Or could you please refer me to an example.

[2018-05-13 12:39] khalidse opened #113 "Replay and like messages"
Is there a functionality to reply to the message user sent to bot and like it ?

[2018-05-13 12:48] RamjotSingh commented on #113
Only users are allowed to like messages. Bots can't like messages. If the user likes the message bot will get a MessageReaction event.

[2018-05-14 12:40] Wajeed-msft commented on #112
You can re-use you JSON from Outlook connector card as follows:

         var cardJson = {
            "@type": "MessageCard",
            "@context": "http://schema.org/extensions",
            "summary": "Issue 176715375",
            "themeColor": "0078D7",
            "title": "Issue opened: \"Push notifications not working\"",
            "sections": [
                {
                    "a

[2018-05-15 13:30] register9091 commented on #111
Thank you. Got it working.

List Card is not supported in Bot Emulator ?

[2018-05-15 16:18] billbliss commented on #111
That's correct - it only works in Teams.

[2018-05-15 16:19] #111 closed

[2018-05-15 21:50] nguyendn opened #114 "Fetch member belongs to an organization"
From what I know, if we want to send 1:1 message to all members of an organization, we need to do so:

1. Create a team which include all members
2. Add a bot to that team
3. The bot will fetch team rooster and start 1:1 dialog

`connector.fetchMembers(serviceUrl, conversationId, function (err, result) {}`

Is that the only way? Can we just register a personal bot for all members by Team Admin?

[2018-05-15 22:00] nguyendn commented on #112
It seems _potentialAction_ doesn't work with json payload

<img width="763" alt="screen shot 2018-05-15 at 14 59 05" src="https://user-images.githubusercontent.com/1620357/40085825-a7790772-5850-11e8-8089-7f7823da05e2.png">

<img width="1435" alt="screen shot 2018-05-15 at 15 00 11" src="https://user-images.githubusercontent.com/1620357/40085836-b735e036-5850-11e8-8566-62165c3ecac2.png">

[2018-05-15 22:40] aosolis commented on #112
It's not a matter of JSON vs not JSON. Our SDK converts to JSON, so in the end it's all JSON anyway :)
It seems that in Teams, the "@id" property is required on all connector card actions. Add an "@id" property action and the button should appear. e.g.,
[code]

[2018-05-15 22:51] nguyendn commented on #112
@aosolis Perfect! the buttons show up now.

[2018-05-15 23:46] nguyendn commented on #112
It buttons on this json doesn't show. It's Microsoft Workflow JSON that works on Outlook

`var cardJson = {
    "@type": "MessageCard",
    "@context": "http://schema.org/extensions",
    "summary": "This is the summary property",
    "themeColor": "0075FF",
    "sections": [
        {
            "heroImage": {
                "image": "http://messagecardplayground.azurewebsites.net/assets/FlowLo

[2018-05-16 00:52] aosolis commented on #112
As I mentioned earlier, actions require an "@id" property, or else the card is not rendered properly. Please add "@id"s to the HttpPOST actions in the second section.

Note that in Teams, HttpPOST actions take a "body" parameter that specifies the payload. "target" is not used.

Finally, Teams does not support heroImage. Sorry ☹️

[2018-05-16 00:52] #112 closed

[2018-05-16 01:08] nguyendn commented on #112
@aosolis I added all the @id but it still doesn't work. Please also notice that the structure of MS Flow example is different with Github one. But the MS Flow one is the one we're working with Outlook.

[code]

[2018-05-16 01:38] aosolis commented on #112
Inputs take "id", actions take "@id". (Yes, it's confusing, and I honestly don't know why they spec'd it this way.)

In your JSON you had "@id" for both types and actions. Change the "@id" to "id" for the inputs, and the card will render:
![image](https://user-images.githubusercontent.com/767208/40091676-eab316b4-586d-11e8-8853-ce1f5614b852.png)

[code]

[2018-05-22 12:22] billbliss commented on #114
That is currently the only way, yes.

We have been looking at ways to make "proactive messaging" (that's what we call this) simpler but that's not available yet.

When we do, there will need to be controls over the scenario you describe - tenant administrators will want the ability to monitor and disable scenarios such as this because otherwise it's yet another vector for spam.

[2018-05-22 19:51] #114 closed

[2018-05-22 19:51] nguyendn commented on #114
Thank you!

[2018-05-22 21:18] Ky7m opened #115 "Support for List Card type."
There is a specific type of card type - [list card](https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/cards/cards-reference#list-card) that is supported only by Bots in Teams (no support in bot framework). Do you have plans to add support for this card type?
Let me know if you accept PR :)

[2018-05-23 15:28] billbliss commented on #115
This is actually a question for the main [BotBuilder SDK](https://github.com/Microsoft/BotBuilder).

But I can answer it here - the reason the List card was implemented is because we needed a richer UI for our Who bot, and we decided to open it up to developers too. I do not expect it to be implemented in any other bot platform.

[2018-05-23 15:28] #115 closed

[2018-05-23 20:03] nguyendn opened #118 "Increase timeout on onO365ConnectorCardAction"
This error message is shown even the action is handled successfully.

How do I increase the timeout?

<img width="747" alt="screen shot 2018-05-23 at 13 00 48" src="https://user-images.githubusercontent.com/1620357/40448162-933dcdb2-5e89-11e8-8112-107e64d259b1.png">

[code]

[code]

[2018-05-23 20:28] nguyendn commented on #118
It seems Nodejs Async works

[code]

[2018-05-23 22:11] nguyendn commented on #118
I found a solution to handle this issue for my case.

[code]

[2018-05-25 17:03] #118 closed

[2018-06-09 03:59] imailer2015 opened #122 "User not able to see anything (Error), when Bot Service returns status code 403"
## Bot Info
* SDK Platform: Bot REST Connector
* SDK Version: N.A.
* Active Channels: MS Teams
* Deployment Environment: Own deployment environment

## Issue Description
Hi Folks,

I was trying out authentication for Microsoft Bot messages and noticed that user doesn't receives any notification / message / error when the request is rejected with HTTP  403 (forbidden).

User should be able to see s

[2018-06-14 09:24] register9091 opened #123 "Support for scrollable cards in ListCard"
Hi,

Is it possible to add say adaptive / hero cards to as a list item in list card? Is yes, how else is this feature in the pipeline?

Thanks

[2018-06-14 16:04] billbliss commented on #123
By list card, you mean https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/cards/cards-reference#list-card?

That is its own format; it's not miniaturized view of other cards. There are no current plans to have lists of adaptive cards but once we release that (it's in developer preview now) we might consider it.

[2018-06-14 19:02] rjgmail88 opened #124 "MS bot with Ms teams channel gives 400 error"
I have  V3 BOT with Microsoft teams channel. I see following sporadic issue where it seems like teams is failing send response back to bot via **serviceURL**

[code]

[2018-06-14 20:42] billbliss commented on #124
@rjgmail88 what's the AppId of your bot?

[2018-06-15 03:31] rjgmail88 commented on #124
There are 2 BOTS. Above error is for BOT ID#984ede7e-bc35-4767-a19b-60a2d6c5e4be
Another bot is bc6873dc-1736-40be-98cc-b55df64647b4

[2018-06-15 04:38] register9091 commented on #123
Ok thanks

[2018-06-15 04:38] #123 closed

[2018-06-15 04:45] register9091 opened #125 "Not getting back activity id for POST call on sending a message"
Hi,

Normally when we send a text message to MS teams we get back the id of the message just send which can be used to update the message.

Eg.
If we send the following to teams via botframework
new Activity().withType(ActivityTypes.MESSAGE).withText("Hello").withRecipient(activity.from())
                                    .withFrom(activity.recipient())
via a POST call to
@POST("v3/conversation

[2018-06-15 06:05] register9091 opened #126 "ERROR: Activity resulted into multiple skype activities"
Hi,

When i try to update a card with another card i get a message saying "Activity resulted into multiple skype activities"

Test code
[code]

For the first call i get back the following response
[code]

And in response i get the following for which i am getting the error message
[code]

Kindly let me know if anyone has a solution for this error.

Thanks

[2018-06-15 06:28] Wajeed-msft commented on #126
Please try the samples given in [Update Message](https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/bots/bot-conversations/bots-conversations#updating-messages) documentation.

Could you please try again by keeping only message text or attachment?

[2018-06-15 06:41] aosolis commented on #125
The service "splits" certain kinds of activities into multiple messages, and you're running into that:
- activity with text + attachment (card) = 1 message w/ text only + 1 message with card only
- activity with attachments (cards) in list layout = multiple messages, 1 for each card

In these cases, you'll see the service return a 202 status code with no activity id in the response, because the re

[2018-06-15 06:47] aosolis commented on #126
This is similar to what you reported in #125. The code is trying to update a message (1 card) to something that's going to become 2 messages (text + card). That's why it's giving the error "Activity resulted into multiple skype activities".

It's a case that we're aware of and working to enable. Until then, message updates are restricted to instances that will not result in splitting. In fact, I'd

[2018-06-15 07:59] register9091 commented on #126
Thank you for your swift response. Do you have any example in which you can only send cards and not message+card? Since the POST call requires an activity to be send.

[2018-06-15 08:04] aosolis commented on #126
In your snippet above, it looks like ```withText()``` is what adds the text to the activity. Omit the call to ```withText("World")``` when creating the second activity: that way you're doing a card->card update, which should work.

[2018-06-15 08:06] register9091 commented on #126
We tried the above method in which we do not send withText() but still card update does not work. We get a 400 bad request

[2018-06-15 08:10] aosolis commented on #126
The snippet above is text->text. Can you share the snippet for your attempt to do a card->card update?

[2018-06-15 08:11] register9091 commented on #126
Got it working. Thanks 👍
[code]

Kindly update / reopen the issue once this is fixed if possible or let me know if there is a channel where we could see changelogs.

[2018-06-15 15:11] rjgmail88 commented on #124
Has anything change ? I am seeing 502 and bot is completely down in production. Please advice asap if you can. We have a outage.

[code]

[2018-06-15 16:20] billbliss commented on #124
Checking on it now. We are seeing increased 5xx errors at this time.

[2018-06-15 20:45] rjgmail88 commented on #124
Any updates?

[2018-06-15 20:47] rjgmail88 commented on #124
Our production bot is down over 8 hours. Please let me know if this is going to take long to fix so I can have some communication plan for the business.

[2018-06-16 03:56] register9091 opened #127 "Adaptive cards Action.Submit not working"
Hi,

No data is being send back to the bot when using Action.Submit in Adaptive cards.
[code]
When I try clicking on the button in webchat i get back a response but not in MS Teams.

Any solutions?

Thanks

[2018-06-16 22:18] aosolis commented on #127
@register9091 Can you send us the JSON produced by the builder classes that you're using?

[2018-06-18 03:05] register9091 commented on #127
[code]

[2018-06-18 04:06] register9091 commented on #127
@aosolis I tried sending back JSON as follows but still not getting back any response

[code]

Are input fields necessary to send back data?

[2018-06-18 04:41] rjgmail88 commented on #124
Please update us on this.

[2018-06-18 07:51] aosolis commented on #127
Nope, input fields are not required for Action.Submit to work.

This is strange-- I tried both your original and modified card in Public Developer Preview, and my bot gets a message. So I'm not quite sure what's different with your setup. Can you try it in Chrome, with the Developer Tools up on the Network tab? When you click on the button, you should see a request to a URL like: `https://<host th

[2018-06-18 08:48] register9091 commented on #127
No request for /invoke in my browser calls for both chrome and firefox. Also its working on desktop client.

[2018-06-18 22:32] aosolis commented on #127
@robin-liao Can you assist? The JSON provided works for me no matter what I use for `data` -- our sample bot receives an activity when I press Action.Submit.
@register9091 What command do I send to your bot to try it out? And how does your bot indicate whether it received a message from Action.Submit?

[2018-06-18 23:42] register9091 commented on #127
@aosolis my bot went offline as i am using ngrok. You can send the bot anything it will still reply the same so just send a "Hi".

[2018-06-18 23:47] register9091 commented on #127
Yeah it seems to be showing the data now. :|
[code]

[2018-06-18 23:49] register9091 commented on #127
My teams URL is
[code]

am i un an unsupported ring ?

[2018-06-19 00:04] register9091 commented on #127
@aosolis i did not see this first but in console i get the following error.
[code]

[2018-06-19 00:06] aosolis commented on #127
@register9091 Yeah, I just saw that on Firefox! @robin-liao is investigating.

[2018-06-19 00:14] register9091 commented on #127
Its somehow started working in chrome now. So i guess i will switch over to chrome till firefox is resolved.
Thank you Adrian ( @aosolis )

[2018-06-19 00:50] register9091 commented on #127
@aosolis kindly re check the desktop client too. Because that too did not work, yesterday. (I did not try it again.)

[2018-06-19 00:57] aosolis commented on #127
Sure thing. @robin-liao already found the problem with Firefox. She'll also look into the problems you had with Chrome and the desktop app, to make sure we're not missing something. Thank you for reporting these issues!

[2018-06-19 03:40] rjgmail88 commented on #124
@billbliss

[2018-06-20 03:11] billbliss commented on #124
I have been communicating with Andrea Martini on this and he said this particular issue seems to be resolved.

[2018-06-20 11:33] register9091 opened #128 "Text hyperlink not working in Adaptive cards"
Hi

If i add a link using markdown text formatting in an adaptive card, then the same is not shown in MS Teams. Rather the link URL is replaced with teams.microsoft.com

Code
[code]

Any ideas about why this happens?

Thanks

[2018-06-20 16:03] billbliss commented on #128
That should work - checking. Thanks for the report!

[2018-06-20 17:50] billbliss commented on #128
We can't reproduce this - but we are using raw JSON and not the C# SDK. Can you post the JSON for the Activity object the above creates, or (better yet) just the JSON for the Adaptive Card attachment?

[2018-06-20 18:00] billbliss commented on #128
Actually this is simpler: try this: `.withValue("[Apple](https://www.apple.com)"),`

Markdown needs the http:// or https://

[2018-06-20 20:22] rjgmail88 commented on #124
Error: POST to 'https://smba.trafficmanager.net/amer-client-ss.msg/v3/conversations/a%3A1hBGKzVwG1NG4tAyQeS7mKg4mNeYErz4rl2vJjNxIGQZJMy1eAiBBuKlPn-1w7-E2OwwB4Bm1imay1xLgRhMOrLRci2rzO1HZu6VUdNRNd0yVuGhgQfJPi02OyL71hJgr/activities/1529526049208' failed: [502] Bad Gateway

I am seeing this again today. Is there any permanent fix for this ? How should we handle this for productions bots ?

[2018-06-21 03:27] register9091 commented on #128
Thanks. http:// and https:// made all the difference.

[2018-06-21 03:27] #128 closed

[2018-06-21 03:59] register9091 opened #129 "Feature Request: Adaptive cards Action.ShowCard toggle text and default expansion state"
Hi,

I would like to request the following features for Adaptive cards -> Action ShowCard button for MS teams.

1. Option to show card in an expanded state.
Reason: We are updating the card when the user clicks on show more details which leads to the user having to click the card twice, to see the details.
Known workaround: Render an expanded card with another Hide details button and do a call to

[2018-06-27 04:31] billbliss commented on #122
This is a really good suggestion. The challenge is that the topology of message delivery is quite different across emulator, web chat, and Teams. When the user sends a message to the bot, our bot message service accepts it and responds with 200 OK. The message then fans out to the actual recipients later, so the 403 that you return is not fanned out to the recipients. We would have to change that

[2018-06-27 17:12] billbliss commented on #129
All feature requests for Adaptive Cards are handled centrally here: https://github.com/Microsoft/AdaptiveCards/issues. Please add 1 and 2 above as separate issues.

The first one you're asking may be [contentious](https://github.com/Microsoft/AdaptiveCards/issues/495) but I'm not sure what you are asking for is the same thing -- but they are pretty responsive and you'll probably find out fairly qu

[2018-06-29 16:14] rjgmail88 opened #130 "MicrosoftTeams channel doesn't recognize URL's"
I have QnA BOT which is using MS team channel. When QnA has an answer which contains URL I see it's clickable in emulator but not in teams. I feel like teams isn't able recognize url's from text.
Here are the screenshots.

MS teams

![image](https://user-images.githubusercontent.com/32375467/42103048-7e4f428e-7b8d-11e8-8bd5-d62c545a196f.png)

Emulator

![image](https://user-images.githubuserconten

[2018-07-02 10:48] register9091 opened #132 "Deleting bot chat conversation"
Hi,

Is it possible to delete bot 1-1 / personal conversation with user using [bot state API](https://docs.microsoft.com/en-us/azure/bot-service/rest-api/bot-framework-rest-state?view=azure-bot-service-3.0#delete-user-data)

If yes then the URL endpoint  `DELETE /v3/botstate/{channelId}/users/{userId} `
returns a 404 for channel id = msteams and userid = OUR_USER_ID

And yes i have seen [this](htt

[2018-07-02 13:38] Wajeed-msft commented on #132
@register9091 - The [Bot State APIs](https://docs.microsoft.com/en-us/azure/bot-service/rest-api/bot-framework-rest-state?view=azure-bot-service-3.0) are used to store and retrieve state data and not the chat thread/conversation. Currently, there is only [Create Chat Thread api](https://developer.microsoft.com/en-us/graph/docs/api-reference/beta/resources/chatthread) available in beta version.

[2018-07-02 14:08] register9091 commented on #132
@Wajeed-msft is there any alternate way to delete the conversations? Or say keep it in memory only for the current session? Maybe a url flag?

We need this for testing purposes.

[2018-07-02 15:36] register9091 commented on #130
I cannot comment about limitations but you could use text forgetting to get it working in teams. It works fine.

[2018-07-02 19:43] corygehr opened #133 "Erroneous Reference to Microsoft.Bot.Connector 3.5.9?"
The package on Nuget references Microsoft.Bot.Connector 3.5.9, which is a version that is not available via Nuget.

This causes errors with Azure Function Apps as it always looks for the dependencies as requested by the package. I am getting FileNotFound exceptions because it cannot find that version.

Normally I would mitigate by using the Preview Packages for Microsoft.Bot.Connector but then thi

[2018-07-02 20:39] corygehr commented on #133
Doh! Sorry, I'm misreading the versioning, thinking it's more like 3.1.5.2 and not 3.5.9.0.

Still, seeing lots of issues with this on an Azure Function and I can't figure out why. One moment it works, the next it doesn't due to the dependencies.

[2018-07-02 20:39] #133 closed

[2018-07-03 06:10] aosolis commented on #132
The conversation itself cannot be deleted: once a conversation is established between a user and a bot the same "thread" will be used each time. However, if you're referring to the bot state you're storing against the conversation, you can use an in-memory store. See examples [Node](https://github.com/OfficeDev/microsoft-teams-sample-complete-node/blob/7d6c7b74aba90d7073195ad1c67886c4570e5341/src/

[2018-07-03 06:43] arun-msft commented on #130
The auto hyperlinking in Teams is done on the client in our editor so the only way to do it in bots is via markdown. Here is the sample code
 var reply=activity.CreateReply(@"[Bing](https://www.bing.com/)");
 reply.TextFormat = TextFormatTypes.Markdown;
await connector.Conversations.ReplyToActivityWithRetriesAsync(reply);

[2018-07-03 11:40] register9091 commented on #132
@aosolis yeah the bot state API does not seem to work. We want that the conversation the user is having with the bot is say stored only for the current session and when the user comes to chat with the bot the next time, he/she should have a clean slate to start with. We need it for our testers as its quite difficult for them to keep track of new elements with the previous messages and cards being

[2018-07-03 16:10] rjgmail88 commented on #124
I am seeing this again today. Is there any permanent fix for this ? How should we handle this for productions bots ?

[2018-07-03 16:20] rjgmail88 commented on #124
Here is the conversation Id
       "conversationId" : "a:1qNZgTUu4ASGZkGKPYDtZque7ucUYmAuWHi7pVx2qfw7gtuHtEUybWEJnQDeZl31zAcglGMyoxKUik-VOpLKqGXop4UFTiQ70NZzkj49LHhNSeVlYFnJTCAjVVFtoViDt"

and error

[code]

[2018-07-03 23:36] #92 closed

[2018-07-04 01:46] aosolis commented on #132
Unfortunately what you're asking for is not supported. Right now there is no way to delete a conversation. The thread will always be there: there's no way to delete it or clear the messages inside it. Attempting to start a new conversation between the bot and a user will return the same conversation.

The closest you can probably get is to clear your bot's memory of the conversation by deleting al

[2018-07-04 01:49] register9091 commented on #132
Ok. Thanks 👍

[2018-07-04 01:49] #132 closed

[2018-07-04 15:06] timroesner opened #136 "Deep link broken on Android"
We have a bot running and are linking to it from our website to add it to Teams. This is working great on Desktop and iOS, but on Android Teams only flashes briefly, before redirecting back to Chrome.

We used a deep link of the format as [shown in the Docs](https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/bots/bots-test#adding-a-bot-for-personal-chat-only) in step 3

Test environ

[2018-07-04 23:29] thomasmktong opened #137 "Any plan of supporting .net core?"
Hi may I know if this package has any plan of supporting .net core?

[2018-07-04 23:56] RamjotSingh commented on #137
We are working on supporting NetCore in future (no timeline yet). You can however try using the netframework package with netcore (or recompile the code yourself). I expect most of the things will work.

[2018-07-05 04:09] thomasmktong commented on #137
Thanks.

[2018-07-05 04:09] #137 closed

[2018-07-06 15:16] rjgmail88 commented on #124
@billbliss , can you let us know if you are not managing this ? Can you route us to correct team ?

[2018-07-09 16:15] penkin opened #138 "Creating chat between two members and the bot."
Is it at all possible to create a chat between two members of a channel and the bot itself? I'm trying to build a bot that will initiate a conversation between two people in a channel privately.

Thanks.

[2018-07-10 05:16] arun-msft commented on #136
We have checked with engineering team, they confirmed it is a known issue and they are working as feature item for this

[2018-07-10 09:28] arun-msft commented on #138
Currently we don't have these capabilities to create group chat, but these capabilities will be available as part of Q3/Q4 roadmap.

[2018-07-11 15:48] theDL opened #139 "Can't @mention a Team or Channel"
When sending an Activity into a Channel, you can @mention a single user, but you cannot do the same for a Team or Channel.  This would be very helpful functionality for starting conversations that should be seen by an entire team.

For mentioning a user (using C#), it's as simple as this:
`// there is a ChannelAccount object with the correct ID called userAccount
activity.AddMentionToText(userAcco

[2018-07-15 00:44] rjgmail88 commented on #124
I am getting 502 today.

Error: POST to 'https://smba.trafficmanager.net/amer/v3/conversations/a%3A1iW4wvOYbpsOa0fRviAt7tkak6uCn2ntSALF3V_EIkKLFpG92XFACmCu0r0d2vhp6l_UGX6vDIR86y74Oolw--daWsVyV5dzDEWfD8yeamr58T1zwqWCBiYSGHvewNC90/activities/1531615376540' failed: [502] Bad Gateway
    at AppInsightsAsyncCorrelatedErrorWrapper.ZoneAwareError (D:\home\site\wwwroot\node_modules\zone.js\dist\zone-node.

[2018-07-16 20:16] theDL commented on #139
Lol that was me asking the question on stack overflow, thanks for the response here as well.

[2018-08-14 10:41] andregouveia8 commented on #124
I have the same issue.. On my webchat channel works fine, but on microsoft teams channel im getting this error 400... 🤒

[2018-08-14 17:30] gnarsiMSFT commented on #124
@andregouveia8 Can you please let me know the timestamp when you saw the issue and bot ID to check on this?

[2018-09-07 00:41] nickalbrecht commented on #110
Any update on this?

[2018-09-07 03:33] mohyt commented on #124
I am getting the same issue, I am using botbuilder-teams: 0.2.1.

[2018-09-07 09:09] Wajeed-msft commented on #110
@nickalbrecht - Currently, we don't have any date to share publicly for this. Could you please share specific scenario where you are blocked currently?

[2018-09-07 17:42] nickalbrecht commented on #110
It's a long story, ha. Have a client using Skype for Business (not office 365) and wants to integrate CRM/LoB app features into it. But the CWE is really dated and relies on Silverlight, and is essentially a dead end. Then found a roadmap online where it _appeared_ that Teams would eventually be the successor to Skype for Business? So that brought me to looking at extending Teams. Most of my exper

[2018-09-07 18:12] billbliss commented on #124
@mohyt what's your bot ID? We'll look for it in the logs.

[2018-09-07 18:19] ShakeySnake opened #142 "Not compatible with latest version of BotBuilder"
I'm trying to implement our bot on a Service Fabric API, but there are conflicts with the JSON JWToken libraries, where the OpenID libraries that are part of Service Fabric require a later version. The teams version is constrained. Updating to a newer version of the BotBuilder package should solve this problem, but it seems some changes need to be made to some methods in this project.

[2018-09-07 18:38] ShakeySnake commented on #142
Getting some details now.

[2018-09-07 21:27] ShakeySnake commented on #142
The current version of Microsoft.Bot.Connector.Teams seems to have a hard dependency on Microsoft.Bot.Builder 3.5.9. When I try to upgrade to the later versions of Bot.Builder(currently 3.16.1.38846), I'm getting an error that Microsoft.BotConnector.Teams cannot find 3.5.9, even though the nuget says that it is compatible with Microsoft.Bot.Builder (>= 3.5.9 && < 4.0.0).

The problem is that this

[2018-09-08 02:27] billbliss commented on #142
This is super helpful, thanks!

[2018-09-10 16:00] billbliss commented on #142
Our SDK developer found out what's going on.

**Why this is happening**
Ideally when you add a nuget package, nuget package manager adds an AssemblyRedirect. This however tends to only happen for the main library in a package. Since the Microsoft.Bot.Builder old package had multiple dlls in the same package the assembly redirect is not getting generated at all. The weird part is it is not getting

[2018-09-24 17:21] beradrian opened #145 "Not compatible with 4.0.7"
The latest version is not compatible with the newest version of Microsoft.Bot.Connector which is 4.0.7 (just released). Are there any plans to update this library too?
If not, and you're interested, I can submit a PR.

[2018-09-25 08:29] beradrian commented on #145
Would you accept a PR for this?

[2018-09-25 18:58] RamjotSingh commented on #145
A PR at this moment is not required. v4 is a breaking change and hence our changes will be breaking as well (one of the reason current nuget is blocked from installing on v4). The new design requires some discussions internally. Rest assured we are working on it :)

[2018-09-25 21:53] Ky7m commented on #145
It's true, with the new design of Bot Framework SDK v4 it's not clear how to return a response for messaging extension invoke request.

[2018-09-26 20:55] rjgmail88 opened #146 "@mention a user in Ms teams bot"
I read this document [https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/bots/bot-conversations/bots-conv-channel](https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/bots/bot-conversations/bots-conv-channel)

where its mentioned on the top that '**You can also access Teams-specific functionality within your bot like querying team information and @mentioning users**'

[2018-09-27 08:14] Wajeed-msft commented on #146
@rjgmail88 - This can be achieved in a channel. Please have a look at [Node.js example code: Check for and strip @bot mention](https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/bots/bot-conversations/bots-conv-channel#nodejs-example-code-check-for-and-strip-bot-mention).

You can not @mention users in 1:1 conversation with the bot. You can also consider [adding tabs and bots to cha

[2018-09-27 14:28] rjgmail88 commented on #146
@Wajeed-msft , thank you for your suggestion. Let me reiterate what I understood from your comment.

A Bot which is added to a channel (scope=team) can be @ mentioned by user and same user can @ mention other users from same channel.
so user can type this '@ {botName} Can you assign this ticket to @yinaa @Stevenic for quick fix ?''

but, same user won't be able to @ mention anyone else from outsid

[2018-09-27 15:50] rjgmail88 opened #147 "Ability to @ mentions Bot is not working"
Bots in single user conversations do not require an @ mention - the user can just type the command. But Bots in channel conversations require the user to @ mention the bot to invoke it in a channel.

Documents ref:-
[get-started-app-studio](https://docs.microsoft.com/en-us/microsoftteams/platform/get-started/get-started-app-studio)
[apps-upload](https://docs.microsoft.com/en-us/microsoftteams/plat

[2018-09-27 15:54] RamjotSingh commented on #142
Closing this issue. Please reopen if needed.

[2018-09-27 15:54] #142 closed

[2018-09-27 16:10] billbliss commented on #147
There's an anomaly in the way bot names are handled for sideloaded apps. The @mention comes from the name registered in Bot Framework. The manifest.name overrides this only when it's published in the AppSource store or when it's uploaded to the tenant app catalog.

What is the name of the bot as registered in Bot Framework? You should be able to mention @ginaapp.

[2018-09-27 16:13] billbliss commented on #147
Fixed that too, will get picked up the next time we published. Thanks!

[2018-09-27 18:39] rjgmail88 commented on #147
@billbliss thank you for quick input on this issue. I appreciate :)
Before seeing your comments I got it working by unselecting following option which I marked in red.
Do you think that was blocking @ mention feature

![image](https://user-images.githubusercontent.com/32375467/46167083-7a547280-c25a-11e8-9595-3e9b27a9a1c1.png)

Also, currently I am only able to @ mention BotNames from https://dev.

[2018-09-27 19:27] billbliss commented on #147
Yes, checking that would do it. That checkmark says your bot can't reply to messages from users. The scope wouldn't matter.

[2018-09-28 22:40] billbliss commented on #146
Yes this is a feature request - and an expensive one actually because it's a spam vector and a performance challenge (AutoComplete). I see the use case though - it's a good one.

[2018-09-28 23:07] #147 closed

[2018-09-28 23:13] billbliss commented on #130
Yes, that's the way to do it, @arun-msft, but your example is more complicated than it needs to be, and TextFormatTypes.Markdown is the default, so you can just do this to create a link to this issue:

`await connector.Conversations.ReplyToActivityWithRetriesAsync("[This issue](https://github.com/OfficeDev/BotBuilder-MicrosoftTeams/issues/130)");`

Will insert this into the chat stream:

[This iss

[2018-09-28 23:13] #130 closed

[2018-10-04 08:00] register9091 opened #151 "Hover text not available on wrapped text"
Hi @aosolis ,

Is there any way we can get hovering full text when a sentence is wrapped in a card?
[Example screenshot](https://imgur.com/nc3ZbqM)

As you can see in the above image, the wrapped text does not get a hovering text.
The result being in case of a wrap there is no way for an end user to figure out the full sentence.

Kindly provide a solution to enable text hover (at least in chrome)

[2018-10-04 08:37] Wajeed-msft commented on #151
@register9091 - You can set **_"wrap": true_** for the textblocks so that it shows complete text. I could see it's explicitly set to false.

Regarding showing a tooltip for truncated text, It would be a feature request.

[2018-10-04 19:57] rjgmail88 opened #152 "App studio is broken for messaging extensions"
I am following a [document](https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/messaging-extensions) to create a messaging extension.

In App studio when I fill up all the details for manifest and, give extension name and click 'CREATE' button I see following error.

![image](https://user-images.githubusercontent.com/32375467/46499413-a5543e80-c7e5-11e8-9a1d-37c6339255f6.png)

[2018-10-04 22:38] goelashish7 commented on #152
Are you able to repro it in Web client as well? Any errors in console ?

[2018-10-05 01:59] jialic commented on #152
hey @rjgmail88 , can you verify if you can create an app on https://apps.dev.microsoft.com/

[2018-10-05 16:17] rjgmail88 commented on #152
Hey @jialic , In our organization only tenant admins have privilege to create an app and generate App ID / password on https://apps.dev.microsoft.com/ and this is using my AAD corp. account.
I use same account in Ms team client where I used App studio to do other stuff our Bot App.

Hope this helps.

[2018-10-05 18:59] jialic commented on #152
@rjgmail88, when you use App Studio to create a messaging extension or bot, we would create an AAD app for you under the hood (as the account you use to login to Teams). However, this respects the policies set up by your tenant admin. In this case, App Studio crashes because your account have insufficient privilege to create an AAD app.

We're planning a fix to show a better error message instead

[2018-10-08 03:20] shalini12kohli opened #154 "Adaptive card with button type "Action.Submit" shows "Submitted" text on click"
In adaptive card with buttons of action type "Action.Submit", when we click on it, "submitted" text appears at the bottom of the card which remains for a couple of minutes and disappears. is this standard behavior or can we configure it to stop showing this text.

[2018-10-08 14:54] rjgmail88 commented on #152
@jialic , thank you for the detailed flow and the explanation.

[2018-10-10 03:02] billbliss commented on #154
This is by design, but we will look into it.

[2018-10-10 06:58] #152 closed

[2018-10-15 11:07] pavel-spacil opened #156 "Add support for .NetStandard"
Hello, we have project using .net standard (2.1 actually) and we want to integrate MS Teams bot there. Other bot packages (like MS.Bot.Connector and MS.Bot.Connector.AspNetCore) are ready but this one has the sections about .net standard commented. Can you please add .net standard as supported target back? Thanks

[2018-10-15 11:11] RamjotSingh commented on #156
We are working on the next major version which will support for NetStandard2.0.

P.S. .NetStandard 2.1 is not out yet. [Official documentation](https://docs.microsoft.com/en-us/dotnet/standard/net-standard)

[2018-10-15 16:08] billbliss commented on #156
We do not. Hopefully soon.

[2018-10-16 05:44] #156 closed

[2018-10-16 21:19] jcheung-xmatters commented on #102
Hello again. `botbuilder-teams 0.2.3` is released a few days ago, but `ms-rest`is still at `1.15.7`. Is there a plan or ETA to upgrade the dependency to a newer version?

[2018-10-17 17:14] xmatters-jolin commented on #145
Hey folks... just wondering if there has been any progress made on this one?  Looking forward to a v4.x.x compatible version. :-)

[2018-10-17 20:34] billbliss commented on #145
Actively working on it with the Bot Framework team on how to best model our extensions.

[2018-10-24 14:43] rebelanger commented on #139
Any news concerning this issue and the timeline it would be fixed ? This is a feature I would like to use for notifying a team of "human" users when my bot cannot answers a question so that a human can take over the conversation. Many thanks!

[2018-10-26 04:45] Talhakh opened #157 "Tab in mobile app not working"
Hi, I have an app which has both Tab and Bot but whenever user clicks on the tab in the mobile app, it just says App is not available on phone.

[2018-10-26 11:38] Talhakh commented on #157
Thanks alot it works now.

[2018-10-26 11:41] Talhakh opened #158 "Tab Removal only by admin"
Can we disable removing the tab based on user context. i.e. Only allow admins to remove the tab not the user. I tried doing it based on the context but it enables the remove button after 5 seconds on its own.

[2018-10-26 11:42] #157 closed

[2018-10-26 12:33] Wajeed-msft commented on #158
What do you mean by admin user here?
If you mean team owners then it is available as part of team setting:
![image](https://user-images.githubusercontent.com/31851992/47566339-12707500-d949-11e8-85c6-e5f513063edf.png)

[2018-10-29 00:25] Githamza opened #160 "Can't respond to Teams bot call"
I trying to respond to a call in Teams but actually I'm not getting a respond from the bot.

First I get access_token from Graph API.

Then I have a route that intercept bot calls.

[code]
Here's POST function

[code]
As mentionned in [documentation](https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/calls-and-meetings/call-notifications) , Server sould first reply 204 in order to g

[2018-10-29 04:20] #127 closed

[2018-10-29 04:29] register9091 opened #161 "Basic authentication not working in TaskModule for Android"
Hi,

I created a simple website which is protected using basic authentication. Now when i try to open it in a task module using the fallback URL on an Android device, i do not get a popup for Basic authentication. (I do get a popup when i load it in a task module in the browser or the desktop app)

Kindly look into this issue.

PS: You can try out a simple basic authentication web page from here
h

[2018-10-29 11:55] arun-msft commented on #161
@register9091 : Task module will not support mobile device yet. for now it will work desktop app and browser.

[2018-10-29 17:46] billbliss commented on #161
It's under active development.

[2018-10-29 17:49] billbliss commented on #160
We would expect a failure response, not no response at all.

One possible suggestion - does it work with `acceptedModalities: ["Audio"]` by any chance? The current implementation only supports PascalCase. This is being fixed this week.

[2018-10-29 19:50] Githamza commented on #160
Hello @billbliss , your solution is working ! Thank you very much !

[2018-10-30 00:56] register9091 commented on #161
@billbliss: I do understand you have not gone GA with this. I was just bringing this to your notice that in case of fallback URL basic auth does not work on the app browser being opened up. If the same link were to be opened in chrome we do get a popup.

I will also verify if SSO login has an issue, and update this issue accordingly.

@arun-msft: I was referring to the fallback URL of task modules

[2018-10-30 07:04] #160 closed

[2018-10-31 01:18] steven-liu opened #162 "[Question] Syntax to start a new conversation in a group channel?"
I'm trying to write a bot and am running into errors when I try to create a group conversation in a channel. I roughly followed the patterns documented [here](https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/bots/bot-conversations/bots-conv-proactive#net-example-from-this-samplehttpsgithubcomofficedevmicrosoft-teams-sample-complete-csharpblob32c39268d60078ef54f21fb3c6f42d122b97da2

[2018-10-31 02:53] Wajeed-msft commented on #162
For channel conversation, you don't need to fill Members field. You need to set the channel Id in which you are creating the conversation.

[code]
Could you please try this and let us know if you are facing any issue?

[2018-10-31 17:58] rjgmail88 opened #163 "App changes made using App studio doesn't appear on other users MS teams client"
I followed this [document](https://docs.microsoft.com/en-us/microsoftteams/platform/get-started/get-started-app-studio) to register a Ms teams App using App studio for my exiting BOT.

Then added a Menu items as mentioner [here](https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/bots/bots-menus)

Now everything seems to be on my computer or I should say MS Teams client that I am usi

[2018-10-31 23:53] steven-liu commented on #162
Tried the above and I'm still getting ```Message: Incorrect conversation creation parameters```. For the `channelId`, I'm using `channelData.Channel.Id` from the activity that triggers this bot's method call.

[2018-11-01 09:10] Wajeed-msft commented on #162
@steven-liu - Here is the complete code for sending proactive message in a channel

[code]

_Note_: If you are calling this outside Bot's controller code need to call TrustServiceUrl on ServiceUrl as shown here:
[code]

[2018-11-01 11:28] Wajeed-msft commented on #163
@rjgmail88 - bot menus are part of manifest, you need to install the bot again with updated manifest file to see bot menu. Other users will see the bot menu only after re-installing updated manifest file.

[2018-11-01 19:20] rjgmail88 commented on #163
Hi @Wajeed-msft , But, other users are not able to see anything ? like no Menu items for them. Is that because I clicked Install from my App studio ? and it install it only for me ?

[2018-11-02 05:10] Wajeed-msft commented on #163
@rjgmail88 - Yes, you are correct. Personal scope app needs to be installed by individual. For team scope, installing updated package in team will reflect the changes for all the team members. Please download the manifest and ask another user to install in his/her personal scope to see bot menu.

[2018-11-02 19:13] rjgmail88 commented on #163
@Wajeed-msft , I am confused between definition of scope here. As per my knowledge there are 2 scope personal and team , and those represents how BOT will be added/accessible in Ms teams.
ex:- I have added a bot to ms teams by using deep link:-  [https://teams.microsoft.com/l/chat/0/0?users=28:{BotId}](https://teams.microsoft.com/l/chat/0/0?users=28:{BotId})

that is called Bot in my personal scop

[2018-11-05 10:47] Wajeed-msft commented on #163
You can use the Microsoft Teams Tenant Apps Catalog to test and distribute line-of-business applications to your organization. Please have a look at documentation on how to [Publish apps to the Microsoft Teams Tenant Apps Catalog](https://docs.microsoft.com/en-us/microsoftteams/tenant-apps-catalog-teams).

[2018-11-06 22:00] rjgmail88 commented on #163
@Wajeed-msft , I followed above document  to distribute an App by using Apps Catalog to test.  Here are the steps:

1. Used **appV1.0.zip** to upload & publish using Tenant  catalog

2. User searched for appV1 in store, and downloaded it to his Ms teams web app (personal scope )

3. Developer sent new version of App to tenant admin **appV2.0.zip** that has minor changes on the functionality.

4. T

[2018-11-06 23:00] mwerghemmi opened #165 "Teams Calling API don't respond with 202 Accepted"
Hello,
As per the documentation here
https://developer.microsoft.com/en-us/graph/docs/api-reference/beta/api/call_answer

I should receive a 202 Accepted after i answer a call..

In my case i am receiving notification with status   "state": "Established" but never receive the 202 ..
is it a known issue in the Platform ?
Note: I am using Nodejs servicehostedmedia

Mefteh.

[2018-11-06 23:03] mwerghemmi opened #166 "Teams Calling:Cannot play prompt"
Hello,
Trying to play a prompt after answering a call (call established).
The API Call is not retrurning any answer no error...

I am using the Graph Javascript SDK for the API calls.

function PromptCall(CallId) {

    var Prompt =
    {
        "prompts": [
            {
                "@odata.type": "#microsoft.graph.mediaPrompt",
                "mediaInfo": {
                    "uri": "http

[2018-11-07 02:39] kanchm commented on #165
Please provide the time and payload (with any personally identifiable data scrubbed) so we can track this on the server.  I recommend that you post this in the Calling github samples where we are monitoring all related questions.
https://github.com/microsoftgraph/microsoft-graph-comms-samples

[2018-11-07 02:43] kanchm commented on #166
Please provide the `CallId` for the call and the time (in UTC) when the call was placed.  Also recommend moving this issue to github for calling SDK.
https://github.com/microsoftgraph/microsoft-graph-comms-samples

[2018-11-08 05:29] #166 closed

[2018-11-09 09:30] #162 closed

[2018-11-09 12:44] Wajeed-msft commented on #139
@rebelanger - We don't have ETA for this yet.

[2018-11-13 07:30] Wajeed-msft commented on #163
@rjgmail88 - Currently, only way to get the updated app is by restarting desktop client or for web browser reloading the browser tab.

[2018-11-13 16:44] wsoula commented on #103
Is this true that once you create a bot in azure you can not change anything about it without creating a new bot?

[2018-11-13 18:37] cagdasdavulcu opened #167 "Advanced user interaction in prompts"
Hello everyone,

is there any possibility to return a custom react application as prompt from a bot (it doesn't have to be a react application)? In my case, the bot should return an application, where user can mark one or more objects from an image and send it as a message to my bot without using static tabs for bots.

Thanks and regards,
Cagdas

[2018-11-14 15:22] wsoula commented on #103
I dont think my issue was related to this at all and I was hoping my understanding was wrong and it was, changing the name is fine.

[2018-11-20 10:45] #163 closed

[2018-11-20 10:49] Wajeed-msft commented on #167
@cagdasdavulcu - Please have a look at [Task Module](https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/task-modules/task-modules-overview). Let us know if that helps.

[2018-11-20 10:57] cagdasdavulcu commented on #167
@Wajeed-msft  thank you! You can close this issue.

[2018-11-20 10:59] #167 closed

[2018-11-21 18:25] wictorwilen opened #168 "botbuilder-teams does not work in TypeScript projects with the strict compilation option"
When using botbuilder-teams in a TypeScript/node.js project and you have `strict` type checking set to true, you get the following error:

[code]

In adaptivecards the `actions` property is defined as `actions?` - that is, it can be undefined - and that's why your type alias fails.

[2018-11-24 17:34] billbliss commented on #145
We still do not have a timeline.

[2018-11-30 09:02] cagdasdavulcu commented on #161
i have a behavioral report for this topic.

@billbliss i tested your sample:
https://github.com/OfficeDev/microsoft-teams-sample-task-module-nodejs

The links are being showed in mobile app, but these are not clickable. Buttons are clickable, but they are not working.

Do you have any feedback, when "Task Module" feature will be supported on Teams Mobile App?

[2018-12-02 13:13] cagdasdavulcu opened #170 "Reading posted image content and name"
I'm working on a scenario, where user makes a photo and edits it to mark objects on image and posts it in a channel as a message. I thought, that this image will be automatically uploaded into sharepoint folder. But it will saved in a skype location like:
_https://eu-api.asm.skype.com/v1/objects/xxx/views/imgo_

This item type will be used:
_itemtype="http://schema.skype.com/AMSImage"_

I cannot r

[2018-12-03 11:35] Wajeed-msft commented on #170
@cagdasdavulcu - We are working on adding support to read images which are pasted inline in chat messages.

Currently, only the images uploaded using upload option are stored in SharePoint.
![image](https://user-images.githubusercontent.com/31851992/49371273-ebae1700-f71c-11e8-94a5-d86ac4ba6ffc.png)

Alternatively, if your bot is @mention while sending these photos, then you can read those as an a

[2018-12-03 18:16] billbliss commented on #161
We don't have a date to share but it will be soon. I'm sorry I can't be more specific.

[2018-12-10 04:03] shreyasdn opened #172 "Base 64 encoded images not appearing in the chats"
hi,
       we are facing an issue when we are sending base 64 encoded images. From the past few days we have run into an 403 error whenever we send base 64 encoded images at the microsoft teams end. It tries to access a cached image and fails. We have checked the base 64 images and these are decoded correctly using any other decoder.PFB the screenshot of the same. Kindly let us know how to resolve

[2018-12-10 13:39] shreyasdn commented on #172
Hi,
      Yes we are attaching this to cards. We set it to the withURL property of the Image class. It was working about two weeks back but it stopped working and we noticed this error. Let me know if there is any other detail required from our side.

[2018-12-10 16:47] billbliss commented on #172
How big are the images in base64?

[2018-12-11 02:38] shreyasdn commented on #172
In size they are about 100 KB to 300 KB in size.

[2018-12-11 07:52] v-haun opened #173 "MS Teams channel bot not responding to messages, was working previously"
We have a Azure Bot hosted in MS Teams which was working till 05/Dec/2018 and its not responding to any messages thereafter, we tried debugging different settings but it doesn't work in MS Teams at all. The same bot will work with Bot Emulator and give proper response.

[23:45:35]Emulator listening on http://localhost:42953
[23:45:35]ngrok listening on https://210f68f9.ngrok.io
[23:45:35]ngrok tra

[2018-12-11 08:08] Wajeed-msft commented on #173
@v-haun - Could you please share your bot id? Also, it this (https://210f68f9.ngrok.io) endpoint currently active?

[2018-12-11 12:11] v-haun commented on #173
Hi Wajeed,
Following are the Bot details
"endpoint url" : "https://metrix-dev.azurewebsites.net/api/messages"
 "botId": "14d39571-d8d0-447a-b049-7b586512e556"

This bot is used by internal msft users, my user id is v-haun@microsoft.com.  Can we sync up on MS Teams today to debug further ?
Also attaching the bot manifest file for more details.
[MetrixDev.zip](https://github.com/OfficeDev/BotBuilder

[2018-12-11 17:46] billbliss commented on #172
Our max message size is much, much less than that (~28K) so that's your problem. I'd advise uploading the messages to somewhere else (CDN, blob storage) and then reference them via URL.

[2018-12-12 04:13] shreyasdn commented on #172
We usually receive a bad request for the message size exceeded but do not receive the same for this. Also this was working(three weeks back) was there a recent change which puts this restriction in place?

[2018-12-12 21:07] v-haun commented on #173
This issue can be closed as our bots are back online through MS Teams Channel. It is found that Bot Framework did start rolling out the TLS 1.2 change this weekend. We have to make the change in Azure portal and upgrade the HTTP target .NET framework settings in web.config to 4.6 where TLS 1.2 is supported by default.

Reference: [https://blog.botframework.com/2018/11/06/announcement-azure-bot-ser

[2018-12-12 21:07] #173 closed

[2018-12-18 10:51] Wajeed-msft commented on #172
@shreyasdn - We could not repro this issue at our end. Could you please share the image and bot id with us?

[2018-12-18 12:05] tsahi commented on #133
Microsoft.Bot.Builder 3.5.9 is ancient. When I started my bot, it was already at 3.12.2.4. Am I expected to downgrade to this version?

Is this a real limitation? Would your code break if you reference a later version? On Functions there is no binding redirect, mind you.

[2018-12-18 13:55] tsahi commented on #142
FYI: The workaround can't be implemented in a Functions bot, where there is no binding redirect.

[2018-12-18 17:03] ShakeySnake commented on #142
I had meant to re-open this., As the workaround didn't really work, and some methods are not compatible with versions of the bot framework beyond 3.5.9, even though the solution might compile.

For example: IConversations.UpdateActivityAsync will through a MissingMethodException at runtime pointing at an underlying constructor that no longer exists in new versions of the Bot Framework. In order to

[2018-12-18 17:11] billbliss commented on #142
Our SDK does not currently support Bot Framework 4.x. We are working on it but don't have a date yet.

[2018-12-20 08:43] shreyasdn commented on #172
hi,
    BOT ID: 3cf8cac3-6268-4674-be75-547f98ad48e8
     Base64Encoded String: /9j/4AAQSkZJRgABAQEAYABgAAD/4RCgRXhpZgAATU0AKgAAAAgABAE7AAIAAAAPAAAISodpAAQA
AAABAAAIWpydAAEAAAAeAAAQeuocAAcAAAgMAAAAPgAAAAAc6gAAAAgAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAA

[2019-01-09 11:52] shreyasdn opened #175 "Click on the link for item in adaptive card does not visually indicate that the link is clicked"
hi,
     We have an adaptive card where we have actions which get triggered on click of links for the users. While the action gets triggered the user is not shown any visual indication that the link was clicked. This makes the user to click again which leads to multiple requests. Below is an screenshot of the un-clicked state.
<img width="413" alt="screen shot 2019-01-09 at 4 54 23 pm" src="https:

[2019-01-10 04:51] shreyasdn opened #176 "Click action for links with open url action not working"
hi,
     In an adaptive card the link with an open url action does not trigger any action and we get an console error shown below only in firefox but works in chrome and the client.
![microsoftteams-image](https://user-images.githubusercontent.com/6490281/50946851-6e1abb00-14c1-11e9-8d31-f4ce614e34e6.png)

[2019-01-10 07:35] arun-msft commented on #176
We have tried and openuri action working fine without any issues in firefox as well. Could you please share the adaptive card json?

[2019-01-11 13:11] shreyasdn commented on #176
{
  "type": "message",
  "text": "",
  "attachments": [
    {
      "contentType": "application/vnd.microsoft.card.adaptive",
      "content": {
        "$schema": "http://adaptivecards.io/schemas/adaptive-card.json",
        "version": "1.0",
        "type": "AdaptiveCard",
        "body": [
          {
            "columns": [
              {
                "items": [
                  {

[2019-01-11 13:13] shreyasdn commented on #176
hi @arun-msft Please find above the json. This works in chrome and client but not on teams. Our environment is a test environment meaning our code works on the developer license teams account.

[2019-01-16 07:40] arun-msft commented on #176
We were able to repro this on Mozilla. We have raised bug for that. Thanks for reporting.

[2019-02-08 02:48] lecodespinner commented on #124
Hey @nguyendn!

It appears that your bot is trying to send a message to itself? Is the id below a typo or the intended behavior?

Would you be able to provide more details on your end-to-end scenario? Also, could you capturing and provide the activity payload that your bot it sending? We can help you take a look from our end.

[2019-02-11 02:27] ahleeny opened #181 "TypeError when using TeamsChatConnector.fetchMembers"
Hi there,

After the update to v0.2.5 with botbuilder-teams, it seems like there is an issue with fetching members information:

TypeError: Class constructor ServiceClient cannot be invoked without 'new'
at new RestClient
at TeamsChatConnector.fetchMembers

Help would be much appreciated! Thank you.

[2019-02-11 04:37] YKdvd commented on #181
I just started working with an example Teams bot (nodejs) tonight, and ran into this problem trying to retrieve the info for the message sender.  I reverted back to requiring botbuilder-teams 0.2.4, and things worked.  Just my luck I guess to start in on this a few days after a broken release got pushed.

It doesn't look like fetchMembers has a test?  My bot is running on Azure (I just created a f

[2019-02-12 22:02] RamjotSingh commented on #181
@robin-liao Can you take a look?

[2019-02-13 07:50] robin-liao commented on #181
Acknowledged. Will take a look.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Ramjot Singh <notifications@github.com>
Sent: Tuesday, February 12, 2019 2:03:01 PM
To: OfficeDev/BotBuilder-MicrosoftTeams
Cc: Robin Liao; Mention
Subject: Re: [OfficeDev/BotBuilder-MicrosoftTeams] TypeError when using TeamsChatConnector.fetchMembers (#181)

@robin-liao<https://nam06

[2019-02-13 20:23] nguyendn commented on #124
@lecodespinner sorry for the late reply. It seems we made a mistake. Thank you for your response.

[2019-02-14 05:26] andylwelch commented on #181
Hi guys,
I just ran into this same issue. I thought I would share my findings. I believe it was caused by the change of version of the ms-rest package from `v1.15.7` to `v2.3.8` in [this commit](https://github.com/OfficeDev/BotBuilder-MicrosoftTeams/commit/09d40957bb7360f3fa22aeaff2c0d31a5fc349a0).

[RestClient.js](https://github.com/OfficeDev/BotBuilder-MicrosoftTeams/blob/master/Node/src/RemoteQ

[2019-02-20 03:12] andylwelch commented on #139
Any news on this please? Was it marked as closed because it is fixed now?  I am still unable to @ mention the team and channel

[2019-02-20 04:59] billbliss commented on #139
It should not have been closed. It still has not yet been implemented.

[2019-02-27 08:30] assmapluck commented on #146
Just want to add that we want to implement very similar functionality in our company 20k+ users (and we actually have it in our own custom web implementation right at the moment and want to mirror it in Teams)
So for example, we want to use messages like 'Bot, book 1 on 1 meeting with @someone' (in private conversation with bot) and we expect it to search over all users in our tenant and suggest t

[2019-03-01 19:00] #181 closed

[2019-03-06 07:03] 01 opened #184 "[Question] Is it possible to open url inside of teams desktop app"
I would prefer to have a url open within teams desktop app as opposed to launching into the a seperate web browser. I have seen that the signin card is the only scenario where that seems to happen. How would I recreate the same result as the signin card?

[2019-03-06 07:10] Gousia-MSFT commented on #184
@01 You can open  a url in the form of a popup within teams desktop app using [Task Module](https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/task-modules/task-modules-overview).

[2019-03-06 18:10] 01 commented on #184
The task module is a a fixed tab, it can not be minimized or move out of the way. Its what we are currently utilizing for serving html content that we dont want in a dedicated tab. That said I am mistaken it seems about the sign in card behavior.

[2019-03-06 20:50] rjgmail88 commented on #124
I have started seeing these errors again massively. We have been seeing since this issue is logged but now they are frequent. Any update on this ?

[2019-03-11 11:21] rickhellenthal opened #185 "Middleware crashes when using in combination with proactive endpoint"
I created a proactive endpoint as explained here:
https://github.com/lucashuet93/botbuilder-proactivemessaging/tree/master/dotnet

Both the TeamsMiddleware and the proactive messaging work fine on their own, but if I use them in combination my bot crashes on the following line in my custom middleware which is executed before the Teams Middleware:
`await nextTurn(cancellationToken);`

I'm adding th

[2019-03-11 11:31] #185 closed

[2019-03-11 11:32] rickhellenthal commented on #185
My bad, meant to post the issue here:
https://github.com/OfficeDev/BotBuilder-MicrosoftTeams-dotnet/issues/17

[2019-03-24 08:16] yauscher opened #187 "Missing 'name' property from the interface ChannelAccount in Node.js SDK"
when I call connector.fetchMembers() I get a list containing users info where all of them have the property 'name', but I get a typing error when trying to use this property because it's missing from the interface of ChannelAccount.
I've checked the C# SDK and it is present there:
https://github.com/OfficeDev/BotBuilder-MicrosoftTeams/blob/master/CSharp/Library/Microsoft.Bot.Connector.Teams.Shared

[2019-03-24 23:27] RamjotSingh commented on #187
You have to cast the ChannelAccount into an TeamsChannelAccount using AsTeamsChannelAccount extension method (refer to https://github.com/OfficeDev/BotBuilder-MicrosoftTeams/blob/master/CSharp/Library/Microsoft.Bot.Connector.Teams.Shared/ConversationExtensions.cs)

[2019-03-24 23:28] RamjotSingh commented on #187
@robin-liao For NodeJS

[2019-04-09 11:00] qiu999 commented on #138
Hi @arun-msft  , i also have the same demand about this, is there  available now ?

[2019-04-10 14:06] chamathabeysinghe opened #188 "Is there an official documentation for BotBuilder-MicrosoftTeams?"
Hi, I am new to Microsoft Teams and Botbuilder framework. Is there any official documentation and API reference for this botbuilder-teams library?

[2019-04-11 09:42] mailforsachin commented on #128
How do I pass the string here?

new AdaptiveFact()
                                                    {
                                                        Title="More Information",
                                                        Value ="[Click here to Open in SNOW](https://servicenowurl/task.do?sys_id=ticketResult.sys_id)"

                                                    },

How

[2019-04-12 18:11] clearab commented on #188
We don't have a separate SDK documentation for botbuilder-teams (yet).

However, this section of our documentation discusses this in depth: https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/bots/bots-overview

[2019-04-12 18:11] #188 closed

[2019-04-22 19:44] cagdasdavulcu commented on #170
Is there any update for this topic?

[2019-04-22 20:47] 01 opened #189 "onSelectItem compose extension"
Is there any way to have onSelectItem allow for a task module to be opened instead of a card being put into the message box?

[2019-04-23 05:41] Wajeed-msft commented on #189
Currently this is not supported. Could you please elaborate your scenario here? May be you could use [Action type message extensions](https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/messaging-extensions/create-extensions#action-type-message-extensions).

[2019-04-23 18:56] 01 commented on #189
My scenario is a search functionality but not for the purpose of sending a result as a card in a message to another user. Would like  for user to do be able to do search and on selecting one of the cards from the result list invoke a task module. For now a not ideal work around is to return an empty invokeResponse and have the bot send a card with the some of the information with a invoke button f

[2019-04-23 19:53] ericrrichards commented on #139
The only way that I have ever seen this work is if you use a HeroCard with an ImBack button - for whatever reason, when someone clicks on the button in a Teams channel, it includes an @mention at the bot.

[2019-04-24 17:49] 01 commented on #184
@Gousia-MSFT

[2019-04-29 07:08] Wajeed-msft commented on #189
Currently, you cannot open Task Module when user selects an item from the search result.

Could you please try Praise messaging extension and let us know if you are looking something similar?
![image](https://user-images.githubusercontent.com/31851992/56880727-836d2280-6a7b-11e9-8062-b622a27de876.png)

[2019-05-03 00:48] 01 commented on #189
@Wajeed-msft thank you for your response. I am familiar and am utilizing message extensions actions with preview functionality. I was hoping to accomplish the same functionality from a onSelectItem from messagingquery.

Do a search, get a list, select one and preview it before sending it or simply view it as well. (Like the wikipedia extension except  user would be able to read a extended summary

[2019-05-06 11:30] Wajeed-msft commented on #138
@penkin , @qiu999  - Please have a look at [Adding bots to chats](https://docs.microsoft.com/en-us/microsoftteams/platform/resources/dev-preview/developer-preview-features#adding-bots-to-chats).

[2019-05-06 11:30] #138 closed

[2019-05-09 17:12] simonagren opened #190 "Dependency ms-rest-js renamed and causing errors"
Hi.
The ms-rest-js depency of the npm package botbuilder-teams has been renamed to @azure/ms-rest-js

So with version 4.0.0-beta1 I'm getting errors.
But changing to @azure/ms-rest-js in `node_modules\botbuilder-teams\lib\connector\teamsConnectorClientContext.js` and `node_modules\botbuilder-teams\lib\schema\operations\teams.js` made it work for me.

/Simon

[2019-05-16 19:09] billbliss commented on #190
We think this has been fixed in a later version. See [here](https://github.com/OfficeDev/BotBuilder-MicrosoftTeams-node/issues/11) for more discussion on the details.

Try this and see if it fixes it:

1. Remove all the node_modules (e.g. `rm -rf node_modules` using bash)
2. Install a newer botbuilder SDK: `npm i botbuilder@4.3.0-beta1 --save-dev`

[2019-05-17 10:49] wilmabrinkmeyer opened #191 "Adaptive Card with Action.Submit not working"
I have a simple Adaptive card in my v4 Bot with two buttons. But in Teams (neither desktop nor web) I do not get any response, in Webchat it works fine.
Here the json.
{ "type": "AdaptiveCard",
  "backgroundImage": "https://mcdn.wallpapersafari.com/medium/21/61/zkNgu4.jpg",
  "body": [
    {
      "type": "TextBlock",
      "size": "Large",
      "weight": "Bolder",
      "color": "Accent",

[2019-05-20 07:35] Wajeed-msft commented on #191
With above JSON, you should be getting call-back in your bot code. However, you won't be getting actual data values as **data** needs to be JSON object and not plain string.

Here is how you can get your text displayed in chat windows for Microsoft Teams and get data in payload when user click on action:

[code]
Please have a look at [Adaptive Card actions](https://docs.microsoft.com/en-us/microso

[2019-05-20 10:47] vishmonne opened #192 "How to disable button response on second click in Microsoft teams?"
Hi Team,

I wanted to know is there any way in teams where we can disable the second button click on a button. I don't want the user to scroll back and click on the button again if they have already clicked it once before.

I have read a article on Suggested actions :
[https://docs.microsoft.com/en-us/azure/bot-service/dotnet/bot-builder-dotnet-add-suggested-actions?view=azure-bot-service-3.0](url

[2019-05-21 09:35] Gousia-MSFT commented on #192
@vishmonne- [Suggested actions](https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/cards/cards-actions#openurl) are not supported in Microsoft Teams. Here is how you could achieve this with [Card Updates](https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/bots/bot-conversations/bots-conversations#updating-messages):
1. Create the card:

[code]

2. Here is the code to

[2019-05-21 19:52] rjgmail88 commented on #192
@vishmonne ,  are you referring to [Update](https://github.com/microsoft/botframework-sdk/blob/3.0/Node/core/src/bots/ChatConnector.ts#L358) method.

I also wanted to know how your solution will fit into following user case where Bot's skill flow is as  follows.

( At 4pm )
User: Tell me available times to meet Bob for today
Bot: Shows Adaptive cards with 4 submit button which are nothing but avai

[2019-05-24 22:24] #190 closed

[2019-05-26 00:43] 01 opened #193 "Adaptive Cards Limited Width"
It seems that Adaptive cards have a forced width sides while text activities and o365ConnectorCards dont. Is this by design? If not how can the width be increased?

[2019-05-27 06:03] Gousia-MSFT commented on #193
@01  Adaptive card width is managed by Microsoft Teams channel so that it renders well on all the device includes mobile. Currently, there is no option to set the custom width to adaptive card.

[2019-05-27 17:27] vishmonne opened #194 "Adaptive card with Action.Submit button is not working in IOS Mobile Teams APP"
Hi All,

I am not able to click any of the buttons on the card while i am using through my teams app in IOS phone, whereas i am able to click on the buttons through my android phone as well as the desktop teams app. Any suggestions or solutions on this issue would be really helpful.

C# SDK 3
Adaptive card version -1.0

[2019-05-27 22:27] 01 commented on #193
I dont mean setting a custom width. Simply that it take the max width of the chat like everything else does. If I send a text message or an o365connector card it takes the maximum width, adaptive cards take some width closer to 60-70%

[2019-06-10 05:01] Aditya0603 commented on #194
@vishmonne can you please provide a sample join of the card you are using.

[2019-06-12 23:10] v-kydela opened #195 "Adaptive Card Input.Date fields only work correctly in English"
**While this is related to bots because it involves Adaptive Cards, this is a Teams client issue and not an issue with the SDK. Since this is a critical blocker for all customers who want Input.Date fields to work for non-English end users, I want to escalate this as much as possible. If there is a better place to report Teams client bugs internally, please let me know.**

## Description

A [custo

[2019-06-13 09:23] Gousia-MSFT commented on #195
@v-kydela Thanks for reporting this. We have raised a bug for it.

[2019-06-20 12:03] Sfonxs commented on #139
Is there any update on this?

[2019-06-26 10:56] #189 closed

[2019-06-26 12:42] Wajeed-msft commented on #170
This is available now. Please try and let us know if you are facing any issues.

[2019-06-26 12:42] #170 closed

[2019-06-27 10:19] #193 closed

[2019-07-02 16:11] Wajeed-msft commented on #194
Please re-open with sample json for your card.

[2019-07-02 16:11] #194 closed

[2019-07-03 09:37] ashwinikulk opened #198 "I'm creating a bot application for Microsoft Teams which respond to user with adaptive cards. Now when the user is trying to use immersive reader to read the message aloud, the reader is not picking the card text. Is there any way that will allow immersive reader to read card details?"

[2019-07-15 10:45] SimSpfx opened #199 "Mention entity text is not valid."
**Describe the bug**
Adding a mentions to message entities is not working.
I get the the next error : Mention entity text is not valid.

**SDK Version**
Latest beta
.Net Version
Core 2.x
Expected behavior
Add a mention

[code]

[2019-07-18 12:40] Wajeed-msft commented on #199
Could you please `teamsContext.AddMentionToText()` to add mentions?

                    var message = Activity.CreateMessageActivity();
                    message.Text = "a notification message, for following users: ";
                    foreach (var member in members)
                    {
                        message = teamsContext.AddMentionToText(message, new ChannelAccount(member.Id, me

[2019-07-18 13:33] Trinetra-MSFT commented on #198
Thanks for reporting this., we are looking into this .

[2019-07-24 17:34] bryceg commented on #168
Can a fix get pushed for this?  Very annoying to not be able to use strict mode on projects.

[2019-07-25 06:41] #199 closed

[2019-08-01 08:45] #195 closed

[2019-08-01 08:58] #198 closed

[2019-08-01 09:00] Gousia-MSFT commented on #198
@ashwinikulk We have a bug for this and we are tracking it internally.

[2019-08-01 15:35] v-kydela commented on #195
@Gousia-MSFT - Did you close this because it's been fixed?

[2019-08-01 15:55] Gousia-MSFT commented on #195
We have a bug on this and we are tracking this internally.

[2019-08-05 21:37] hshahbaz opened #200 "Customer Service scenario with MS Teams."
Hi All,

I am working on a chatbot with LUIS and QnA Maker that works in a customer service scenario with MS Teams as the platform which the customer service is going to use. I am thinking of having the bot as a 1:1 chat in every customer service MS Teams.  Whenever a user wants to talk to a customer service agent by typing "i want to talk to a customer service agent" or similar, the user is trans

[2019-08-08 07:32] Trinetra-MSFT commented on #200
Creating new channel for every user is not a feasible solution so the best way to have 1:1 conversation with bot and user than transfer it to the service agent who is free. Please have a look at documentation for [Personal (1:1) conversation with Bot](https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/bots/bot-conversations/bots-conv-personal)

[2019-08-08 07:33] #200 closed

[2019-08-12 07:25] droidriz commented on #146
+1,
our requirement is kind of same where 1:1 conversation with bot and the user can select another users (multiple) in 0365 tenant in msteams using autocomplete and the bot in backend will get their id to process further.

[2019-08-12 21:57] clearab commented on #146
For the booking a meeting scenario, you could have your bot return a Task Module and embed your existing web service as a web view in the task module. Essentially the flow could be:

1) User says: @bot book a 1-1 meeting
2) Bot responds with a [task module (modal popup)](https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/task-modules/task-modules-bots)
3) User uses the task module t

[2019-08-16 21:52] praveendath92 commented on #139
Checking for any updates or ETA on this

[2019-08-21 08:25] RukaiYu opened #201 "Is it possible to open the Settings in an Adaptive card instead of opening an external url?"
Hi there,

I'm currently developing a Teams app. I watch the official sample code, which would open the Settings in an external site via a URL when right clicking the "Settings" of the message extension app bar.

Question: Could we change this to open a card in teams directly but not open the URL?

Thanks!

[2019-08-21 09:24] Gousia-MSFT commented on #201
@RukaiYu Not sure which "Settings" you are talking about. Could you please share a screenshot for our understanding.

[2019-08-22 05:28] RukaiYu commented on #201
![image](https://user-images.githubusercontent.com/3942409/63488191-a915b000-c4e0-11e9-8129-50f82b84941d.png)
Hi @Gousia-MSFT
Indeed, I mean the settings like above (When right click on my message-extension app)

[2019-08-22 05:52] #192 closed

[2019-08-22 07:02] Gousia-MSFT commented on #201
@RukaiYu Could you please elaborate on the scenario for which you would want to change the current behaviour?

[2019-08-22 07:05] viksakshum opened #202 "using bot nodejs with teams"
i can see a samples folder which is like 2 years old and then the source folder with all js files.

which one should we use? the whole src js files or just use the samples app.ts ?

[2019-08-22 08:08] #202 closed

[2019-08-22 19:22] clearab commented on #201
@RukaiYu This is a pretty interesting idea, that unfortunately isn't currently possible. At the moment you need to create a configuration page, then handle the resulting event when the page is submitted. We'll investigate and consider adding to the backlog for the future.

[2019-08-23 08:24] RukaiYu commented on #201
@Gousia-MSFT  @clearab
OK.. Let me explain a bit clear what we want so far

1. Currently if right click on the message extension app, open the Settings it can only open the configuration page URL in separated browser tab, right?
2. We think is it possible to at last open the configuration page within the Teams windows? Like this:
![image](https://user-images.githubusercontent.com/3942409/63578110-

[2019-08-26 07:05] Gousia-MSFT commented on #201
@RukaiYu As @clearab mentioned this isn't currently supported but is something that we could consider for future. Thanks for reaching out!

[2019-08-26 07:41] RukaiYu opened #203 "[Question]Is there any api that indicates the user is using mobile or desktop or web app of Teams?"
Is there any api that indicates the user is using mobile or desktop or web app of Teams?

[2019-08-26 08:58] Gousia-MSFT commented on #203
@RukaiYu Here is how you could get the platform information:
1. In Tabs, you could get it in the [Tab Context](https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/tabs/tabs-context).
2. In Bot, this information can be obtained in the activity payload itself.
![image](https://user-images.githubusercontent.com/45553518/63678859-b3e88180-c80d-11e9-9015-b1eb6e55e909.png)

[2019-08-26 09:41] #191 closed

[2019-08-27 02:54] RukaiYu commented on #203
@Gousia-MSFT Thanks a lot!

[2019-08-27 02:54] #203 closed

[2019-09-04 10:58] ReeceKenney commented on #139
Also wondering if there's an update on this?

[2019-09-05 06:36] #201 closed

[2019-09-05 06:39] RukaiYu opened #204 "Adaptive Card is not rendered in mobile client app of Teams"
Hi Team,

I'm building an adaptive card, but it seems this card is not rendered in Teams mobile app client.
[code]
![image](https://user-images.githubusercontent.com/3942409/64317690-ff0f4b00-cfea-11e9-97cf-c286ebf6f698.png)

It works on web and desktop client.

Does anyone know the reason?
Thanks
Ruaki.

[2019-09-05 07:00] aosolis commented on #204
The card uses properties that are not in the v1.0 schema, like minHeight (added in 1.2) and verticalContentAlignment (added in 1.1).

[2019-09-05 07:23] Gousia-MSFT commented on #204
@RukaiYu I have added few id's and required fields from the json and removed few which are not supported. Please try out this json and let me know if that helps.
[code]

[2019-09-08 07:54] RukaiYu commented on #204
Thank you guys! @aosolis @Gousia-MSFT that fixed me!
I should look at the schemas clearly 👍

[2019-09-08 14:09] laxmanj8666 commented on #124
Error in Bot service with message ******* POST to 'https://smba.trafficmanager.net/amer/v3/conversations/a%3A1taZNBMcuPHBqvkmOy9FgPv4Q1vO_3SuKdONKI90861H421bCoVhHGNBegQiH4mufNoljJ5FNWyIArZSCygghZE-ZPjnF5ElIqrUIsBAZDClAi4_nYyYKwlp5wUdAR7_9/activities/1567951571075' failed: [400] Bad Request******* stackTrace *******  Error: POST to 'https://smba.trafficmanager.net/amer/v3/conversations/a%3A1taZNBMc

[2019-09-10 16:40] Blackbaud-ChristiSchneider opened #205 "Unable to authenticate with messaging extension"
I'm attempting to authenticate with OAuth for my Microsoft Teams messaging extension. It also has a bot, although I don't have that piece really functional yet and am first attempting authentication with the messaging extension. My messaging extension is fully functional if I use my authentication token pasted in from another authenticated website.

I've been working on this for days and have made

[2019-09-10 17:37] Blackbaud-ChristiSchneider commented on #205
More responses that don't work:

[code]

[code]

[code]

[2019-09-10 20:35] Blackbaud-ChristiSchneider commented on #205
I also tried running the [auth sample app](https://github.com/OfficeDev/microsoft-teams-sample-auth-node) and have not gotten it to open a sign in window yet. :(

[2019-09-10 22:11] Joel-fogue opened #206 "npm install botbuilder-teams --save fails bc package.json name is "botbuilder-teams""
Hi i'm totally new with all of this:

The doc says to grab the npm package for the botbuilder-teams; howver if you ran this command:
`npm i botbuilder-teams --save`

You get the following error:

[code]
I had to rename my package name in `package.json` to something else to successfully install this module:
so from this `"name": "botbuilder-teams"`, to this: `"name": "botbuilder-teams-testing"` and

[2019-09-11 02:34] RukaiYu commented on #204
@Gousia-MSFT  @aosolis

[2019-09-11 02:36] Wajeed-msft commented on #204
@RukaiYu - Do you need more help with this? Is your issue not resolved?

[2019-09-11 03:07] RukaiYu commented on #204
@Wajeed-msft oh sorry I should create a new one. About the
[code]
This action can open the url on desktop client, while on mobile client, I need to hold the image to trigger the action.  I'm looking for another Action type...

[2019-09-11 12:36] Trinetra-MSFT commented on #206
Are you trying Microsoft Teams [Hello World Sample](https://github.com/OfficeDev/msteams-samples-hello-world-nodejs)?

[2019-09-15 11:11] RukaiYu commented on #204
@Gousia-MSFT @aosolis  Sorry, guys, are there any updates for my question?

[2019-09-16 02:32] RukaiYu opened #207 "Adaptive Card Image Action.OpenUrl doesn't work on mobile client"
Hi Team,

I'm building a card in message extension, with below card json:
[code]

It can be rendered in mobile client, but about the
[code]
This action can open the url on desktop client, but
* On mobile client(iOS), I need to hold the image about 3 seconds to trigger the action. Is it possible to trigger it by clicking/taping?  I'm looking for another Action type. But not found..
* On Android sys

[2019-09-16 02:33] RukaiYu commented on #204
I've created a new issue https://github.com/OfficeDev/BotBuilder-MicrosoftTeams/issues/207, and close this one.

[2019-09-16 02:33] #204 closed

[2019-09-16 02:58] kafka-yu opened #208 "How to show Setting entry in mobile client when displaying Adaptive Card"
Hi Team,

I have a message extension Teams app, it will open a Adaptive Card, but it doesn't show the setting entry like the Github's.
![image](https://user-images.githubusercontent.com/3942409/64932331-c2f0ab80-d870-11e9-8374-3e107d3a5adc.png)
![image](https://user-images.githubusercontent.com/3942409/64932335-c71cc900-d870-11e9-8509-b43aec34a2aa.png)

As you can see the Github's card can have th

[2019-09-16 05:28] Gousia-MSFT commented on #207
@RukaiYu I could not repro this. When I click on the Image it opens the specified url in the website. What version of Teams are you using? Could you please share a screenshot of the version of the app?

[2019-09-16 05:40] RukaiYu commented on #207
Hi @Gousia-MSFT
Here are the screenshots:
![image](https://user-images.githubusercontent.com/3942409/64936231-795f8b00-d887-11e9-94ad-984b91905f56.png)
![image](https://user-images.githubusercontent.com/3942409/64936242-80869900-d887-11e9-9e01-d188149dee38.png)
Teams app v1.0.83

[2019-09-16 05:42] Gousia-MSFT commented on #207
Could you please check if this is the latest version else try updating it?

[2019-09-16 06:02] Trinetra-MSFT commented on #208
Currently this isn't supported, At the moment you need to create a configuration page, then handle the resulting event when the page is submitted.  We would consider this for future.

[2019-09-16 06:31] RukaiYu commented on #207
@Gousia-MSFT Yes, checked, it is the latest version.

[2019-09-16 07:39] Gousia-MSFT commented on #207
Thanks for sharing the screenshot. We are looking into this.

[2019-09-19 14:44] xantari opened #209 "Microsoft.Bot.Connector.Teams is missing some models (no nuget found that contains them)"
The Microsoft.Bot.Connector.Teams has a bunch of teams models, but is missing the @type and @context parameters in the O365ConnectorCard.

How do you set those as that is the only way to send messages to Microsoft Teams Incoming Webhook?

Trying to craft this model using this library but is missing required parameters.

Additionally, none of your models contain startGroup.

Is there a complete set

[2019-09-20 02:17] RukaiYu opened #210 "[Question] Is it possible to get an event notification when the app is uninstalled?"
Hi Team,
Is it possible to get an event notification when the app is uninstalled?

User Case:
1. When a user uninstalls the app, I want to do some cleanup work like, remove the authorization state of that user in our DB.

[2019-09-20 06:42] Gousia-MSFT commented on #210
@RukaiYu When a Bot is added/removed, we get a [conversation update event](https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/bots/bots-notifications). You could handle Conversation Update and perform the actions you want.

[2019-09-20 07:11] RukaiYu commented on #210
Thanks @Gousia-MSFT
While I'm not looking for that notification only for Bot,
But for the uninstall for the message-extension at the messaging bar
![image](https://user-images.githubusercontent.com/3942409/65306787-d2e1f580-dbb8-11e9-99a9-bcd8b4c85d4b.png)

[2019-09-20 11:44] Wajeed-msft commented on #209
@xantari - Please see the notes section for [differences between connector cards and the O365 card](https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/cards/cards-reference#notes-on-the-office-365-connector-card). Also, check the details about properties which are not currently supported in Microsoft Teams.

[2019-09-20 17:59] clearab commented on #210
Hi - That's an interesting idea. We don't currently send install/uninstall events for messaging extensions, only for conversation bot installs. We'll add it to the backlog for consideration in a future iteration.

[2019-09-20 17:59] #210 closed

[2019-09-20 19:49] Blackbaud-ChristiSchneider commented on #205
I am now trying to get this working in .NET and am running into different issues. I can trigger the sign in flow and receive a token back for my bot through the Bot Framework Emulator, but when I try to use it in Teams, it does not work.

When I test connection in Azure Bot Services, it is successful and returns me a JWT. When I run the bot in Bot Framework Emulator, it runs through the conversati

[2019-09-20 20:05] clearab commented on #205
Hi - can you please let us know if you've created an app manifest and uploaded your bot to Teams as an app? Authentication will not work if you talk to it directly by GUID.

[2019-09-20 20:06] Blackbaud-ChristiSchneider commented on #205
Yes I've got it loaded in Teams and am interacting with it via Teams or Bot Framework Emulator.

[2019-09-20 20:11] Wajeed-msft commented on #205
Please try to open your Sign In URL directly in browser. Let us know if you are getting error details in console logs.

[2019-09-20 20:19] Blackbaud-ChristiSchneider commented on #205
First error from `https://token.botframework.com/api/oauth/signin?signin=f4bcredacted`
[code]

then there's a 302 response which redirects to this other url that has no real error
`https://token.botframework.com/.auth/web/login/ec36rredacted_dd75redacted?redirect_uri=https%3a%2f%2ftoken.botframework.com%2fapi%2foauth%2fPostSignInCallback%3fsignin%3df4bcredacted`
[code]

[2019-09-20 20:25] Wajeed-msft commented on #205
Could you please share your Bot Id which we could try at our end?

[2019-09-20 20:26] Blackbaud-ChristiSchneider commented on #205
`68e416f8-436d-4eed-8706-c57df66723b5`

[2019-09-20 20:45] Wajeed-msft commented on #205
I also tried Sign In URL in browser and it's throwing Bad Request. Are you able to login successfully with this bot in Emulator?
Could you please once try [AuthBot.zip](https://github.com/OfficeDev/microsoft-teams-sample-auth-node/raw/master/manifest/AuthBot.zip) App manifest and see if you are able to login successfully in Microsoft Teams?

[2019-09-20 20:49] Blackbaud-ChristiSchneider commented on #205
I am able to login successfully in Bot Framework Emulator, yes, although when I run Fiddler as it's authenticating I don't see any requests to token.botframework.com. I only see `directline` requests on localhost.

I was able to load AuthBot and sign in via google successfully.

[2019-09-20 20:50] Blackbaud-ChristiSchneider commented on #205
Well I'm not actually sure I got signed in with AuthBot. I am able to open the modal and log in but it doesn't reply back to the conversation after I do that, and I think it should.

[2019-09-20 20:53] Wajeed-msft commented on #205
Can you try opening the login URL sent to Bot Emulator in Browser and see if you get same error?

[2019-09-20 20:58] Blackbaud-ChristiSchneider commented on #205
No error on that page, although it's a different url - `https://msteams-authbot.azurewebsites.net/html/auth-start.html?authorizationUrl=https%3A%2F%2Faccounts.google.com%2Fo%2Foauth2%2Fv2%2Fauth%3Fresponse_type%3Dcode%26response_mode%3Dquery%26scope%3Dopenid%2520profile%2520email%26client_id%3D9672redacted.apps.googleusercontent.com%26redirect_uri%3Dhttps%253A%252F%252Fmsteams-authbot.azurewebsite

[2019-09-20 21:04] Wajeed-msft commented on #205
Could you please share login URL which you are getting in Bot Emulator for your Bot? Is that URL opening fine in browser?

[2019-09-20 21:10] Blackbaud-ChristiSchneider commented on #205
When logging in in Bot Emulator, I don't see any URL in Fiddler (maybe because I logged in previously?)

The pop up asks me if I want to open URL `oauth://SkyApiOAuth&&&68c2redacted|livechat`

The only things I see in Fiddler that look related to the bot are:
* `http://localhost:56927/v3/directline/conversations/68c2redacted%7Clivechat/activities?watermark=13`
* `https://p39-caldav.icloud.com/mm/s

[2019-09-23 14:52] Blackbaud-ChristiSchneider commented on #205
I've hosted the bot as an Azure App Service if you want to try it locally. `https://snp-skyapi-msteams-svc-temp dot azurewebsites dot net`.

[2019-09-23 14:54] Blackbaud-ChristiSchneider commented on #205
I can't connect to the hosted bot in the Bot Emulator for some reason (it returns 500s) but it replies when I use it in Teams.

[2019-09-23 15:21] Blackbaud-ChristiSchneider commented on #205
If I'm not mistaken, AuthBot isn't doing what I'm trying to do. It's opening a website (msteams-authbot.azurewebsites.net), which probably uses the `authenticate` and `notifySuccess` javascript functions, which I've also been unable to get working :(

[2019-09-24 08:18] kafka-yu opened #211 "[Teams Bug] Icons and images can not render in Safari in Teams app"
Hi Team,

Don't know where to raise this issue, but I just post it here:

We have an app with a message extension feature installed. In Chrome and Edge, the app icon and images(png file) can display correctly. While in Safari, the App Icon and images in the Adaptive Card can not be loaded, see below. The function is working fine, but the images are dark and not loaded.

Does anyone know the reason

[2019-09-24 09:48] catchmeifyou opened #212 "How to send an HTML attachment from a Microsoft Teams bot"
I noticed that when you use the app to send a card to another user, it has the desired effect- a short summary of the weather appears in the toast popup. Looking inside the JSON that represents that message shows that the "card" is actually an HTML attachment.

Am I able to replicate this by sending an HTML attachment? I have (naively) tried the following but it causes an exception:

[code]

The e

[2019-09-24 09:52] Gousia-MSFT commented on #212
@catchmeifyou Sending a Html attachment from a bot is not currently supported. You could try opening the Html content inside a [Task Module](https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/task-modules/task-modules-overview) .

[2019-09-24 18:19] Wajeed-msft commented on #205
@Blackbaud-ChristiSchneider - You are correct, didn't realize about the Azure Bot Service part. Could you please try [Leave App manifest](https://github.com/OfficeDev/msteams-sample-line-of-business-apps-csharp/blob/master/Professional%20Services/LeaveBot/Manifest/Leave%20App%20Manifest.zip) which uses Azure Bot Service for authentication. I'll try and get sample code with exact code by tomorrow.

[2019-09-24 18:30] Blackbaud-ChristiSchneider commented on #205
Yes, Leave Bot works for me. Thanks.

[2019-09-25 03:16] catchmeifyou commented on #212
Thank you for response.

[2019-09-25 03:16] #212 closed

[2019-09-25 06:33] Gousia-MSFT commented on #211
@RukaiYu Were you able to repro this for any other app? Could you please share the manifest of the app where this could be reproed?

[2019-09-26 05:29] RukaiYu commented on #211
@Gousia-MSFT Hello, would you mind to provide your email address? I can send you privately. Thanks.

[2019-09-26 06:45] Gousia-MSFT commented on #211
Please send it out to the email alias mentioned in the [feedback page](https://docs.microsoft.com/en-us/microsoftteams/platform/feedback).

[2019-09-26 15:29] Blackbaud-ChristiSchneider commented on #205
The guid + `|livechat` token I was seeing in Bot Framework Emulator is a fake token that is used when ngrok failed to start, so that was why it looked like it was working in the emulator.

I was able to get the auth to pop up correctly from an `OAuthPrompt` dialog and authenticate after recreating my app in Azure bot services. I believe my original app was created automatically in Teams App Studio

[2019-09-30 05:25] Gousia-MSFT commented on #209
@xantari Please re-open if you are still facing an issue.

[2019-09-30 05:25] #209 closed

[2019-09-30 16:14] saraswat40 opened #213 "Adaptive cards and builtin browser"
Is it possible to open the builtin browser when using adaptive cards. The default actions (openUrl) opens the link in a browser. I have also tried something like this but it doesn't work either:
[code]

[2019-10-01 04:18] Gousia-MSFT commented on #213
@saraswat40 Do you want to open a url inside Teams itself? Please try using [TaskModule ](https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/task-modules/task-modules-overview)and see if that helps. Please let us know if you need any help.

[2019-10-01 13:47] saraswat40 commented on #213
@Gousia-MSFT, thanks for responding. I didn't mean a modal dialog. See this documentation: https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/cards/cards-actions

At the top, for openUrl it talks about a default browser. This is not the default OS browser but a default teams browser. It only opens via an action from either the Hero or the thumbnail card. If you add a similar action

[2019-10-02 17:19] Blackbaud-ChristiSchneider commented on #205
I found the solution and have gotten OAuth working with messaging extensions. Documenting the solution in the linked issue above.

[2019-10-02 17:19] #205 closed

[2019-10-03 12:55] Gousia-MSFT commented on #213
@saraswat40 Could you please help me understand what do you mean by default teams browser?? Please share a screenshot of where you are expecting the url to open.

[2019-10-03 13:31] saraswat40 commented on #213
See below. Notice the teams logo on the top left of the browser window.

![image](https://user-images.githubusercontent.com/3200933/66130980-9f439a00-e5c0-11e9-8ff3-8c0c474c4c56.png)

[2019-10-09 04:47] Gousia-MSFT commented on #206
@Joel-fogue Please re-open if you are still facing any issues.

[2019-10-09 04:47] #206 closed

[2019-10-09 08:57] Gousia-MSFT commented on #207
@RukaiYu Could you please try this in the latest build and see if the issue is resolved?

[2019-10-16 14:48] arpitha-mm opened #214 "Capturing the bot message details on click of reactions (messageReactions) in teams."
I have to capture the details of bot message and the corresponding reaction details when the end user clicks on any kind of "reaction" on a message from bot in MS teams.

![image](https://user-images.githubusercontent.com/53615496/66930160-d0f14200-f051-11e9-8d80-baf3d48e535c.png)

**Issue** :
Right now I am unable to find the particular message details like text of bot response user reacted to/ t

[2019-10-17 05:19] Gousia-MSFT commented on #207
@RukaiYu Please re-open if you are still facing the issue.

[2019-10-17 05:19] #207 closed

[2019-10-17 07:05] Gousia-MSFT commented on #214
@arpitha-mm You could get the details of the message using [List channel message](https://docs.microsoft.com/en-us/graph/api/channel-list-messages?view=graph-rest-beta&tabs=http) Graph API. Please try using this API using the messageId your bot receives in the payload.

[2019-10-17 10:50] arpitha-mm commented on #214
@Gousia-MSFT Thanks for the response. Yes, I could get the details of all the message using List channel message. But I don't want the list of all message, I only need the details of particular message which user reacts for bot response in teams.

I even tried following the Microsoft articles to get the above mentioned details and they're as below,
[https://docs.microsoft.com/en-us/azure/bot-servi

[2019-10-17 22:52] IdiotLeon commented on #139
Updates?

[2019-10-21 07:30] Gousia-MSFT commented on #214
@arpitha-mm Please try passing the message id to the api call to fetch details of the particular message. Please have a look at [Get channel message](https://docs.microsoft.com/en-us/graph/api/channel-get-message?view=graph-rest-beta&tabs=http).

[2019-10-21 10:50] Gousia-MSFT commented on #213
@saraswat40 You need to specify the Action as SignIn Action for opening the url in this way. Also, please make sure that you specify these values in the validDomains section of your manifest.

[2019-10-29 08:39] Gousia-MSFT commented on #213
Please re-open if you still have any queries.

[2019-10-29 08:39] #213 closed

[2019-10-29 09:13] Gousia-MSFT commented on #214
Please re-open if you still have any issues.

[2019-10-29 09:13] #214 closed

[2019-11-28 10:18] SimSpfx opened #218 "Dissapearing chat input window in bot privat chat"
Hello,

When you open a private chat with a bot in ms teams the chat window dissapears. Resulting in not being able to chat in anyway. This is what is dissapearing:
![image](https://user-images.githubusercontent.com/47321821/69797757-8cb89c00-11d0-11ea-8add-37849bd64adb.png)

I enabled private chat for my bot and it used to work in the past. But suddenly it stopped.

When i open ms teams in the br

[2019-11-29 04:41] Gousia-MSFT commented on #218
@SimSpfx Is your bot working in teams scope? Did you add your bot as a [notification-only-bot](https://docs.microsoft.com/en-us/microsoftteams/platform/resources/bot-v3/bots-notification-only)?

[2019-11-29 08:48] SimSpfx commented on #218
@Gousia-MSFT it is a private and group chat bot. But it is very weird behavior. I have the issue but my colleague with the same bot does not.

I tryed:
clearing cache
readding bot
Redeploying

I will try now:
Ill uninstall and remove teams completely and than readd it and come back to you.

[2019-12-06 06:37] Gousia-MSFT commented on #218
@SimSpfx Were you able to check the issue with your peers? Are you facing any issues?

[2019-12-08 14:20] SimSpfx commented on #218
Nothing works. Tryed about everything. I noticed in the browser app that display none styling is applied. No idea why.

Kind regards
Simon

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Gousia-MSFT <notifications@github.com>
Sent: Friday, December 6, 2019 7:37:37 AM
To: OfficeDev/BotBuilder-MicrosoftTeams <BotBuilder-MicrosoftTeams@noreply.github.com>
Cc: S

[2019-12-09 06:00] Gousia-MSFT commented on #218
@SimSpfx Could you please share your app manifest with us?

[2019-12-18 04:12] Gousia-MSFT commented on #218
Please re-open with the app manifest if you are still facing the issue.

[2019-12-18 04:12] #218 closed

[2019-12-25 18:56] code0007 commented on #187
I got a similar issue

[2019-12-25 18:59] code0007 opened #221 "unable to delete custom app from team store"
I sideloaded my app in teams for personal scope, now it is not getting uninstalled.

[2019-12-27 04:53] Gousia-MSFT commented on #221
@code0007 You can directly uninstall the app from personal scope from the left rail by right clicking and Uninstall. Are you seeing any error message? Could you please try sign out and sign in and try again? Could you please share some screenshots?

[2019-12-30 12:16] #221 closed

[2020-01-08 11:08] RajaniJillaGit commented on #146
Hi @clearab. Would appreciate if you can help detailing the above more where in we call a deep link inside the Bot. Can you please help on the below ?

1. Are these task modules supported in other channels of the Bot. If a web chat channel is enabled for bot, can we reuse the task modules built. How the user experience is going to be ?
2. How do we secure the deep links for calling inside Bot ? Do

[2020-01-09 17:31] guyfreund opened #222 "Can't mention a user in channel"
I'm using the json format for mentioning as discussed [here](https://docs.microsoft.com/en-us/microsoftteams/platform/bots/how-to/conversations/channel-and-group-conversations?tabs=json#nodejs-example-code-check-for-and-strip-bot-mention) and when I look into Teams UI I just see the user mentioned in purple but when moving the cursor on it there's no link to user. Is this a known bug?
This is the

[2020-01-10 06:52] Gousia-MSFT commented on #222
@guyfreund Could you please try out this [code ](https://docs.microsoft.com/en-us/microsoftteams/platform/bots/how-to/conversations/channel-and-group-conversations?tabs=dotnet#tabpanel_CeZOj-G++Q-1_dotnet)to @mention user?

[2020-01-10 06:58] guyfreund commented on #222
@Gousia-MSFT That’s the one I’m using, but in JSOn format injected to the API call.

[2020-01-10 07:07] Gousia-MSFT commented on #222
@guyfreund Are you trying this using Graph API or using a bot?

[2020-01-10 07:08] guyfreund commented on #222
@Gousia-MSFT - Using the bot API.

[2020-01-10 07:23] Gousia-MSFT commented on #222
@guyfreund Could you please try using the 29:XXX ID instead of the AAD Id of the user?

[2020-01-10 07:29] guyfreund commented on #222
@Gousia-MSFT Sure, I’ll try it and comment here. BTW, when using api graph to fetch users, the “id” field of the user is it’s aad is or the regular one?

[2020-01-10 08:10] Gousia-MSFT commented on #222
@guyfreund That is the AAD ID of the user.

[2020-01-11 17:08] RajaniJillaGit commented on #146
Hi Team,

Could you please clarify above to further decide on the approach ?

[2020-01-12 07:00] guyfreund commented on #222
@Gousia-MSFT - As can be seen in the [users documentation of graph api](https://docs.microsoft.com/en-us/graph/api/user-list?view=graph-rest-1.0&tabs=http) the're only one id field that can be reterived. How am I supposed to get the relevant id in the mention context?

[2020-01-12 16:47] #222 closed

[2020-01-28 13:27] #89 closed

[2020-01-28 13:28] #83 closed

[2020-02-08 03:41] AngryVirginian commented on #139
Any update on this?

[2020-02-11 08:21] ahmetkocadogan commented on #139
Any update on this?

[2020-03-09 15:41] guillaumelamb opened #223 "[Documentation] Broken link in README.md"
In the README file, the **Review the documentation** link refers to an old MSDN link which doesn't exist anymore.
In result, we have a 404 page.

Maybe this link refers to the following link:
[https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/bots/bots-overview](https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/bots/bots-overview)

[2020-03-20 17:42] Wajeed-msft opened #225 "Test issue - please ignore"
Test issue - please ignore

[2020-03-20 18:03] Wajeed-msft commented on #225
Added comment on GitHub question.

[2020-03-24 00:08] guillaumelamb commented on #223
I did a pull request fixing the 2 broken documentation links on [README.md page](https://github.com/OfficeDev/BotBuilder-MicrosoftTeams/blob/master/README.md)

#224

[2020-03-24 00:22] #223 closed

[2020-04-01 21:07] nguyendn opened #228 "No event show up when user uninstall Bot"
#### How to reproduce:

1. Install Bot in person context

<img width="284" alt="Screen Shot 2020-04-01 at 1 59 43 PM" src="https://user-images.githubusercontent.com/1620357/78186148-126b8300-7421-11ea-8a46-d7e839072c76.png">

2. There is an event like so

[code]
3. Uninstall Bot. Not event fired. Expected: `membersRemoved` fired

If you install the Bot to a team,
<img width="271" alt="Screen Shot

[2020-04-02 04:43] Subhasish-msft commented on #228
@nguyendn ,
The conversationUpdate event is sent in slightly different instances depending on context:

For a 1:1 conversation between the bot and a user (personal scope) the event is only sent the very first time the bot is installed. Technically, it is sent when the conversation is created between the bot and the user. If the user uninstalls the bot, this conversation is not deleted, so `convers

[2020-04-02 16:27] nguyendn commented on #228
@Subhasish-msft Thank you for your information. So how does the backend know when to stop sending messages to the user?

[2020-04-15 11:58] CraigWVB opened #235 "Craig"

[2020-04-15 12:08] #235 closed

[2020-04-16 15:11] Sujit-Gaikwad opened #236 "[MsTeams][Mobile][Bot] Mobile teams does not have support for attachments in bot"
MS Teams App on mobile does not have support for attachments in bot. Can you help by when can we expect this feature ?

[2020-04-17 05:42] Nikitha-MSFT commented on #236
Sending and receving files to bots on mobile is currently not supported. This is something we are working on but we do not have an ETA on when this will be available.

[2020-04-20 07:53] crammag commented on #139
@Wajeed-msft @arun-msft-zz Hi guys, any update or ETA on this feature?, it would be perfect for something I'm working on, mentioning 2k users individually doesn't seem good to me :/

[2020-04-23 13:07] Sujit-Gaikwad opened #237 "[MsTeams][Desktop/Mobile][Carousel taking time to load on the conversation window of MS Teams]"
HI ,

I am facing issue with card Carousel. this is  taking time to load on the conversation window of MS Teams.

can you please look into issue??

regards,
Sujit

[2020-04-23 13:30] Subhasish-msft commented on #228
You will face this issue only when you send proactive message. You could provide user a choice to opt out by sending another card.

[2020-04-23 14:03] Subhasish-msft commented on #237
How long does the card takes to render ? Also can you share the card json payload so that we can reproduce it

[2020-04-23 21:43] nguyendn commented on #228
@Subhasish-msft thank you!

[2020-04-23 21:43] #228 closed

[2020-04-25 16:20] Harshul9089 opened #238 "teams message reaction should send message id and type of reaction in activity"
Hi all ,

FYI
It's not an issue but i need a feature request from you all . please assist me.

**description:-**
As webchat is using activity middleware to send some extra parameters to map for which message user have reacted and conversation id with watermark which is helping me to get mapping of everything which is needed to log.

**i need the same feature  like the conversation id with message

[2020-04-27 05:54] Trinetra-MSFT commented on #238
@Harshul9089 , There is `onReactionsAddedAsync `method which catches the reactions added by user to any message. You will get the type of reaction added to messages in messageReaction object.

[code]
![image](https://user-images.githubusercontent.com/50989436/80338182-5c595480-8879-11ea-8753-b28693eb5253.png)

You can also fetch the message Id, conversation id & user name through turnContext.Activ

[2020-04-27 08:03] Harshul9089 commented on #238
@Trinetra-MSFT Yes, I was searching for the exact thing. Thank you.

[2020-04-27 14:50] Sujit-Gaikwad commented on #237
@Subhasish-msft sorry, I forgot to upload details at  time of raising issue

It is taking time between 5- 10 sec approx. please find attached adaptive cards  json that we have used  in carousal.

[CardCarousalAttachment.docx](https://github.com/OfficeDev/BotBuilder-MicrosoftTeams/files/4540326/CardCarousalAttachment.docx)

[2020-04-27 17:09] #238 closed

[2020-04-28 14:02] Sujit-Gaikwad commented on #237
@Subhasish-msft same card I have tested on iOS device but it is taking more time than other platform
and text within card is not getting visible as well.

if we refresh the chat window the card is not rendering properly.
please find the attachment :

iPhone View:
![iPhone Device](https://user-images.githubusercontent.com/60354515/80496014-438a9500-8986-11ea-9168-142814fbf4df.png)

Android view:

!

[2020-05-11 12:14] hardikverma24 commented on #162
@Wajeed-msft can you please provide the code for javascript on how to create a conversation in a channel

[2020-05-12 06:42] Subhasish-msft commented on #237
@Sujit-Gaikwad , We have created a bug for this. Can you please share the iOS build version and teams version.

[2020-05-12 08:33] Sujit-Gaikwad commented on #237
IPhone 6
iOS version : 12.4.5
Teams version : 2.0.10

[2020-05-18 22:08] NedkoChulev commented on #139
Any update on this? I'd like to be able to mention a team or a channel without having to mention each individual member

[2020-05-21 09:36] WorkspaceChetan commented on #176
One more issue.
When we use "onExecuteAction" then we cant open url in new tab.

[2020-06-03 12:01] Sujit-Gaikwad commented on #237
HI @Subhasish-msft,

I want to add one more scenario on this issue.
-> First I triggered a carousel from bot
-> after getting an adaptive card carousel consist of buttons in the conversation pane.
-> I clicked on the button on the card I get the result.

after this, if I scroll back to select another action from the carousel but I'm getting
white screen area like :

![Carosal](https://user-images.

[2020-06-26 11:03] tekbird opened #239 "Teams search app is not behaving as expected in IOS"
When the app is loaded, user is presented with default items. After that if user enters some characters, the app does a search and presents the results correctly. The issue is when the user clicks on x button on the search input textbox, which should have brought the initial default items back. But it is not so, the app clears the result items, but not showing the default items from the initial ru

[2020-06-26 11:06] tekbird opened #240 "Teams search app on mobile device requires sign-in/out for changes to take effect"
I have observed that any changes made to a Teams app on desktop version of Teams (like removing, adding) requires the mobile app to sign out and sign in to take effect. It makes difficult updating the apps as users have to be instructed to logoff/login from mobile devices.

[2020-06-29 11:01] Nikitha-MSFT commented on #240
This is the behaviour right now. Any changes done in desktop takes some time to show on mobile. We are working on making this experience better.

[2020-06-29 12:53] tekbird opened #241 "Teams search app not working with AdaptiveCard"
I have a MS Teams search app which works fine with ThumbnailCard. But when I switched to AdaptiveCard, it no longer works.

Following is my response JSON:

`{
   "composeExtension":{
      "type":"result",
      "attachmentLayout":"list",
      "attachments":[
         {
            "contentType":"application/vnd.microsoft.card.adaptive",
            "content":{
               "type":"AdaptiveCard

[2020-06-30 04:37] Abhijit-MSFT commented on #241
@tekbird, CompsoeExtension.attachementLayout does not support adaptive card. Check this [documentation](https://docs.microsoft.com/en-us/microsoftteams/platform/messaging-extensions/how-to/search-commands/respond-to-search?tabs=dotnet#respond-to-user-requests) for more details.

[2020-06-30 05:12] Trinetra-MSFT commented on #239
@tekbird , Could you please share the repro steps or screenshots would be fine?

[2020-07-01 13:38] tekbird commented on #239
The first one is the search results with x button in the texbox. the second one shows the empty result after clicking x button.

![MicrosoftTeams-image (5)](https://user-images.githubusercontent.com/678518/86250380-cad7cd00-bbb0-11ea-830f-fb57ce33728c.png)

![MicrosoftTeams-image (6)](https://user-images.githubusercontent.com/678518/86250378-c9a6a000-bbb0-11ea-933a-f617316ed3d7.png)

[2020-07-01 13:41] tekbird opened #242 "Teams search app not loading further pages"
We have a teams search app that pulls data from an internal system. Initially, the app was developed using `Thumbnail card`. Using this, the app loads further pages after initial page on page scroll. but after migrating to `Office 365 Connector card`, the app only loads first page.

[2020-07-02 07:02] #241 closed

[2020-07-02 07:02] #240 closed

[2020-07-03 06:57] Trinetra-MSFT commented on #242
@tekbird , Could you please look at [Notes on office 365 connector cards](https://docs.microsoft.com/en-us/microsoftteams/platform/task-modules-and-cards/cards/cards-reference#notes-on-the-office-365-connector-card)?

[2020-07-03 07:41] tekbird commented on #242
@Trinetra-MSFT, I read the section you suggested, but it does not say about this kind of limit. Could you please provide a direct reference to that? or a screenshot would be fine.

[2020-07-08 17:35] rrc2k4 opened #243 "How to post MessageCard JSON Payload on Teams to user in C#"
I have a messagecard json payload and have to post to the user from bot using bot framework.  how can i post that content? should it be sent as attachment and content parameter set to json payload and what should be content type for that attachment.
Please suggest.

[2020-07-08 17:49] aosolis commented on #243
Here's an example: https://docs.microsoft.com/en-us/microsoftteams/platform/task-modules-and-cards/cards/cards-reference#example-office-365-connector-card

[2020-07-08 17:50] #243 closed

[2020-07-09 12:52] rrc2k4 commented on #243
Thanks for the details. It helped.

[2020-07-14 16:47] jmnsf commented on #126
Is there an update on this?

[2020-07-20 04:06] Trinetra-MSFT commented on #242
@tekbird , Sorry for the delayed response, could you please share your app manifest with us?

[2020-07-20 05:38] tekbird commented on #242
@Trinetra-MSFT, Please find the manifest below. Please note that some specific data has been removed (marked as xxxx). If you need the whole info, please share your email address:

[code]

[2020-07-28 11:00] Trinetra-MSFT commented on #242
@tekbird , We need the Bot id as well to test this issue you can reachout to `microsoftteamsdev@microsoft.com` alias with your actual manifest & close the issue here.

[2020-08-04 06:36] TejaReddy0226 opened #245 "After Click on Allow it is showing Error.Login Consent is not Working in the Teams Desktop and in Browser."
After Click on Allow it is showing Error.Login Consent is not Working in the Teams Desktop and in Browser.
![MicrosoftTeams-image (19)](https://user-images.githubusercontent.com/62458014/89261014-f552f500-d64a-11ea-970a-372e2930e01a.png)

[2020-08-05 13:10] Nikitha-MSFT commented on #245
No, You cannot get images from teams.microsoft.com. Also the images which you have given in the adaptivecard should be publicly available. For more information could you please check this [docs](https://docs.microsoft.com/en-us/microsoftteams/platform/task-modules-and-cards/cards/cards-reference#inline-card-images)?

[2020-08-05 13:22] Nikitha-MSFT commented on #245
Which Document are you following? Could you please share repro steps? Also could you please share request body?

[2020-08-07 02:15] kafka-yu opened #246 "[Dev Issue]The `theme` parameter in the request of `handleTeamsMessagingExtensionConfigurationQuerySettingUrl` is missing?"
Hi Team,

Recently we found that:
The `theme` parameter in the request of `handleTeamsMessagingExtensionConfigurationQuerySettingUrl` is missing.

As we know, it is existing before. Is this a new change for Teams?

Thanks!

[2020-08-07 02:17] #208 closed

[2020-08-07 06:09] Gousia-MSFT commented on #246
Duplicate of https://github.com/MicrosoftDocs/msteams-docs/issues/1957.

[2020-08-07 06:09] #246 closed

[2020-08-11 08:27] k343497 opened #247 "TextInput is not passing value to HttpPost action in Teams"
Dear all,

I am using Webhooks Connector in MS Teams, and call API to send 365 connectors MessageCard.

Here is my MessageCard JSON
`{
    "@type": "MessageCard",
    "@context": "http://schema.org/extensions",
    "summary": "summary",
    "themeColor": "0076D7",
    "title": "Testing MessageCard",
    "sections": [
        {
            "activityTitle": "![TestImage](https://47a92947.ngrok.io/Co

[2020-08-13 08:16] Trinetra-MSFT commented on #247
@k343497, Could you please check this [sample code](https://github.com/OfficeDev/microsoft-teams-sample-connector-csharp/blob/master/TeamsToDoAppConnector/Utils/TaskHelper.cs) for connector? Also could you please confirm if you have  enabled actions in connector developer dashboard?

[2020-08-14 05:50] k343497 commented on #247
Thank you, I found out the problem is. Thank you for your help

[2020-08-14 05:50] #247 closed

[2020-08-26 05:10] Trinetra-MSFT commented on #239
@tekbird ,  That is the expected behavior, Please see the attached screenshot for iOS mobile device.

Searching with Keyword:
![image](https://user-images.githubusercontent.com/50989436/91257754-51abbf00-e788-11ea-9e95-6d9b5a89e91a.png)

After clicking on X button it clear the search
![image](https://user-images.githubusercontent.com/50989436/91257822-7869f580-e788-11ea-976e-fb17c46a70a2.png)

[2020-08-28 07:54] sakno commented on #139
API should be able to @mention users by tag as well.

[2020-08-28 10:29] tekbird commented on #242
An email has been sent with a reference to this ticket.

[2020-08-28 11:50] tekbird commented on #239
@Trinetra-MSFT, so is this an expected behaviour only in IOS? Because, it works correctly in Android (there is no x button on the textbox, but if I press backspace and clear the textbox, the initial results are brought back)

[2020-08-28 12:03] tekbird opened #248 "Teams search app not loading initial items on IOS"
After starts using the card type "application/vnd.microsoft.teams.card.o365connector", on IOS (tested on XR), the initial items won't be displayed. I see it tries to load and indeed hits the backend service, but the results will not get displayed.

I also checked the Azure Devops app and it behaves the same.

Is there a setting to be turned on, or is it an expected behaviour (on Android, it works

[2020-09-01 04:31] Trinetra-MSFT commented on #242
Closing this issue, will be tracking it over Email.

[2020-09-01 04:31] #242 closed

[2020-09-01 06:43] Trinetra-MSFT commented on #239
@tekbird , Yes , once you type the text in search bar you will be able to see the cross button and result will be loaded, for iOS search is loaded based on text. Closing this thread. Please feel free to reopen if you have further query.

[2020-09-01 06:43] #239 closed

[2020-09-16 05:29] Trinetra-MSFT commented on #248
@tekbird , That is the expected behavior, iOS teams messaging extension search load the pages on demand. We have the same behavior for azure devOps too. Once you type in search text it will load the result.

[2020-09-21 07:57] Trinetra-MSFT commented on #248
Please feel free to reopen if you further query.

[2020-09-21 07:57] #248 closed

[2020-09-24 09:29] #245 closed

[2020-09-24 09:31] Gousia-MSFT commented on #237
Thanks @Sujit-Gaikwad . We have raised a bug for this and we are tracking it internally.

[2020-09-24 09:31] #237 closed

[2020-09-24 09:31] #236 closed

[2020-09-24 09:31] #225 closed

[2020-09-24 09:31] #211 closed

[2020-09-24 09:55] #187 closed

[2020-09-24 09:55] #184 closed

[2020-09-24 09:55] #176 closed

[2020-09-24 09:57] #165 closed

[2020-09-24 09:57] #161 closed

[2020-09-24 09:57] #158 closed

[2020-09-24 09:57] #154 closed

[2020-09-24 09:57] #151 closed

[2020-09-24 09:58] #136 closed

[2020-09-24 09:58] #129 closed

[2020-09-24 09:59] #122 closed

[2020-09-24 09:59] #113 closed

[2020-09-24 09:59] #103 closed

[2020-09-24 09:59] #102 closed

[2020-09-24 10:00] #94 closed

[2020-10-17 10:20] NyiNyiSoe-coder opened #249 "Offical"

[2020-10-17 10:20] #249 closed

[2020-10-22 09:05] Trinetra-MSFT commented on #237
@Sujit-Gaikwad , The Bug is Resolved with Pull Request 222431. Please let me know if you still have this issue.

[2020-10-24 05:50] NyiNyiSoe-coder opened #250 "Hello"

[2020-10-24 05:50] #250 closed

[2020-11-03 11:18] svalio opened #251 "Cannot add any options in the value section in ActionTypes of thumbnail card."
I am using botbuilder version 4.9 for NodeJS. Could someone please acknowledge if this is expected behavior, but I cannot pass my custom options to the taskModuleFetch handler. I see only 'type' value there. Any other custom options did not pass there. According to this documentation https://docs.microsoft.com/en-us/microsoftteams/platform/task-modules-and-cards/cards/cards-actions#invoke, I see t

[2020-11-03 11:21] svalio commented on #251
Oops, I think this can be closed, It works as expected, I passed this option in the wrong place.

[2020-11-03 11:21] #251 closed

[2020-11-04 08:57] vitaliishandra opened #252 "Bot rate limits update"
There was the rate limit of 15000 messages/bot/all tenants. Currently this limitation is removed from the official documentation: https://docs.microsoft.com/en-us/microsoftteams/platform/bots/how-to/rate-limit
Is this limit still applied?

[2020-11-05 10:48] Abhijit-MSFT commented on #252
Yes, this component is removed. Now there is no limit of 15k.

[2020-12-28 17:30] #252 closed

[2021-04-12 13:42] ikivanc opened #253 "Adaptive Card Action.Submit is not working on MS Team on iOS as expected"
Hi team,

I've implemented an adaptive card (v 1.3) to retrieve `Input.Text`, `Input.Date` and `Input.Time` values on MS Team using BotFramework (v4.12.2)

I've added `msteam` to my data with a Bot Framework action. It works on Microsoft Teams on PC but it's not working on Microsoft Teams on Mobile. Please see below screenshots

It's working as expected on MS Team on PC,
![image](https://user-imag

[2021-05-21 05:10] chetan-d-mahajan opened #254 "MS Teams bot welcome message"
We have deployed our bot (developed in C# using Bot Framework) to App service and using Bot channels registrations we have added this bot to MS Teams. When a user adds this bot as an app in Teams, no ConversationUpdate or MembersAdded event is fired by the Teams and hence the end user does not see welcome message.

Is there a way to fire this event in Teams? Has anyone faced such an issue in the p

[2021-05-21 06:20] Jagadeesh-MSFT commented on #254
Hi @chetan-d-mahajan , we are working on it, will get back to you soon.

[2021-05-24 11:04] Jagadeesh-MSFT commented on #254
Hi @chetan-d-mahajan, The OnTeamsMembersAddedAsync event is sent to your bot the first time it is added to a conversation. The event is sent to your bot every time a new user is added to a team or group chat where your bot is installed. If you want to send welcome message in personal scope then we have to use [proactive message](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-howto-

[2021-05-30 19:00] #254 closed

[2021-07-14 12:40] lzanatta opened #256 "Section's 'startGroup' not working in Teams"
Hi,

I'm working on sending some messages to MS Teams using O365 connectors and the Actionable Message Card format.
Following the documentation [here](https://docs.microsoft.com/en-us/outlook/actionable-messages/message-card-reference#section-fields) it says that one can use the 'startGroup' property to control whether a separator should be rendered between elements, but that does not seem to be w

[2021-07-14 12:40] ghost commented on #256
Hi lzanatta! Thank you for bringing this issue to our attention. We will investigate and if we require further information we will reach out in one business day. Please use [this link](https://aka.ms/DevCommunityEscalationForm) to escalate if you don't get replies.

Best regards, Teams Platform

[2021-07-19 14:42] HunaidHanfee-MSFT commented on #256
Hello, We are able to repro this issue. We will get back to you once we got clarification with internal team.

Thanks.

[2021-07-20 04:30] HunaidHanfee-MSFT commented on #256
Hello,
Please refer this - [Types of Cards -> Office 365 connector card -> Additional information](https://docs.microsoft.com/en-us/microsoftteams/platform/task-modules-and-cards/cards/cards-reference#additional-information-on-the-office-365-connector-card)
Its mention

Thanks.

[2021-07-20 16:09] #256 closed, assigned to Wajeed-msft, ChetanSharma-msft

[2021-07-20 16:09] ghost commented on #256
### Tell us about your experience!

Hi lzanatta! This issue is closed in our system. We would like your [feedback on your experience with our support team and Platform](https://aka.ms/DevSupportFeedback).

Best regards,
Teams Platform

[2021-08-05 05:07] MayurMundekar opened #264 "Accessbility issue :- Need Alt attribute in O365ConnectorCardSection class"
Hi Team,
We are facing accessibility issue when the card is creating using O365ConnectorCardSection . Because  along with ActivityImage property we don't have Alt property for them. so when we are rendering that card and do accessibility check we are getting issue. Please find the attachment for reference.
If we can add alt property O365ConnectorCardSection this issue will resolved. Please help us

[2021-08-05 05:07] ghost commented on #264
Hi MayurMundekar! Thank you for bringing this issue to our attention. We will investigate and if we require further information we will reach out in one business day. Please use [this link](https://aka.ms/DevCommunityEscalationForm) to escalate if you don't get replies.

Best regards, Teams Platform

[2021-08-31 10:32] lopejum opened #265 "How to configure Bot Framework C# project to send welcome message over Teams channel"
Hello guys,

I developed a C# Bot and withing WebChat channel I'm sending a welcome message every time a user contacts my bot.

So, in the same way, I would like to have the same behavior when I publish the Teams channels and an user contacts for the first time my bot (no waiting until the user sends any message to the bot)

Thanks in advance!

Best regards
Lope

[2021-08-31 10:32] ghost commented on #265
Hi lopejum! Thank you for bringing this issue to our attention. We will investigate and if we require further information we will reach out in one business day. Please use [this link](https://aka.ms/DevCommunityEscalationForm) to escalate if you don't get replies.

Best regards, Teams Platform

[2021-09-04 16:20] lopejum commented on #265
Hello! Any news about this?
Thanks!

[2021-09-15 07:26] Wajeed-msft commented on #265
@lopejum - You can send welcome message to channel when your App is installed to the team. In order to do that you need to get the [Get the user ID, team ID or channel ID](https://docs.microsoft.com/en-us/microsoftteams/platform/bots/how-to/conversations/send-proactive-messages?tabs=dotnet#get-the-user-id-team-id-or-channel-id) which then can be used to [send welcome message](https://docs.microsof

[2021-09-19 20:00] ghost commented on #265
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **3 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-09-22 04:46] ChetanSharma-msft commented on #265
We are closing this issue for now, Please feel free to reopen it, if required.

[2021-09-25 08:00] ghost commented on #265
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **3 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-09-28 13:00] #265 closed, assigned to Wajeed-msft, ChetanSharma-msft

[2021-10-08 07:14] Ulriksen commented on #139
Allowing the bot to mention a tag will improve quite a few workflows for on-call staff++.

I understand tags might not be available in all channels, but for the teams work it is very useful.

[2021-10-14 09:41] ChetanSharma-msft commented on #264
@MayurMundekar - Sorry for the delay.
Is it resolved or still looking for any help?

[2021-10-14 09:43] ChetanSharma-msft commented on #175
@shreyasdn - Sorry for the late reply.
Is this issue resolved or still looking for any help?

[2021-10-18 13:47] HunaidHanfee-MSFT commented on #264
Could you please share the O365 Card body and repro steps. Could you also explain the issue  in details.

[2021-10-18 13:48] Prasad-MSFT commented on #253
Hi @ikivanc ,
We tried to repro the issue as you mentioned and are facing the same issue in iOS. Its working fine in Desktop client and Android devices. We have raised a bug for this issue and concerned team is looking into it. We will inform you once we get further update. Thanks!

[2021-10-21 07:55] HunaidHanfee-MSFT commented on #264
Please let us know if you have any query, we are closing this from our side.

[2021-10-22 10:20] #264 closed, assigned to Wajeed-msft, ChetanSharma-msft

[2021-10-22 10:20] ghost commented on #264
### Tell us about your experience!

Hi MayurMundekar! This issue is closed in our system. We would like your [feedback on your experience with our support team and Platform](https://aka.ms/DevSupportFeedback).

Best regards,
Teams Platform

[2021-12-01 04:05] chriscarnduff commented on #139
Any updates on this?

[2021-12-02 15:06] jacksbox commented on #139
news?

[2022-01-05 14:04] DolderM opened #266 "Any News: Adaptive Card Input.Date fields only work correctly in English"
Any news regarding this topic. I still got the same issue today.

https://github.com/OfficeDev/BotBuilder-MicrosoftTeams/issues/195

[2022-01-05 14:04] ghost commented on #266
Hi DolderM! Thank you for bringing this issue to our attention. We will investigate and if we require further information we will reach out in one business day. Please use [this link](https://aka.ms/DevCommunityEscalationForm) to escalate if you don't get replies.

Best regards, Teams Platform

[2022-01-05 16:49] Meghana-MSFT commented on #266
We are checking this issue. We will get back to you.

[2022-01-19 06:48] Meghana-MSFT commented on #266
Apologies for the delay in response. We have a bug for this already and team is working on it. We will let you know the updates on the bug.

[2022-01-24 07:37] Meghana-MSFT commented on #266
We got the below response from the engineering team. The bug is closed as it is by design.

[2022-02-21 07:55] JordyGit commented on #139
Would be a useful feature we are missing out on right now. (Also see deeplinking: https://github.com/MicrosoftDocs/msteams-docs/issues/5255)

[2022-02-21 15:57] Prasad-MSFT commented on #253
The issue seems to be fixed. Please do verify.
Thanks!

[2022-03-19 20:00] ghost commented on #253
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **3 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-03-23 01:00] #253 closed

[2022-04-02 07:03] AVIJEET7415 opened #267 ":<00001908624@aakashicampus.com>\http +saE2QGoeQMbKMRS6J3vQ>\"
:<00001908624@aakashicampus.com>\http +saE2QGoeQMbKMRS6J3vQ>\

__Originally posted by @AVIJEET7415 in https://github.com/OfficeDev/BotBuilder-MicrosoftTeams/pull/244#discussion_r841027903__

[2022-04-02 07:03] ghost commented on #267
Hi AVIJEET7415! Thank you for bringing this issue to our attention. We will investigate and if we require further information we will reach out in one business day. Please use [this link](https://aka.ms/DevCommunityEscalationForm) to escalate if you don't get replies.

Best regards, Teams Platform

[2022-04-04 06:25] Nivedipa-MSFT commented on #267
@AVIJEET7415 - Could you please elaborate your issue?

[2022-04-08 14:00] ghost commented on #267
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **3 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-04-11 19:00] #267 closed, assigned to nobody

[2022-05-13 08:11] davhdavh commented on #139
4 years later????

[2022-06-17 00:26] SonOfJesseAsSnekithan opened #268 "Invocation of adaptive card or custom form works fine on Teams Desktop App but not in Mobile App(iOS)"
I have used the TeamsTaskModule sample from the Bot Builder SDK sample. It displays the adaptive card with 3 options as below:
![image](https://user-images.githubusercontent.com/5042316/174198921-4890b814-0055-4046-ab31-963f6d788b56.png)

and ,clicking adaptive card button works fine on the Desktop app but not in Web App (Edge).

[2022-06-17 00:26] ghost commented on #268
Hi SonOfJesseAsSnekithan! Thank you for bringing this issue to our attention. We will investigate and if we require further information we will reach out in one business day. Please use [this link](https://aka.ms/DevCommunityEscalationForm) to escalate if you don't get replies.

Best regards, Teams Platform

[2022-06-17 05:50] Nivedipa-MSFT commented on #268
@SonOfJesseAsSnekithan - We have tested the TeamsTaskModule sample. We have checked in Edge browser but it was working fine at our end.
Could you please share the console logs to investigate further?

[2022-06-23 14:01] ghost commented on #268
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **3 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-06-24 20:52] SonOfJesseAsSnekithan commented on #268
Sorry for the late response, it works in desktop/web app, but not in the iOS App where clicking custom form  gives error message, something went wrong we can not open the app right now.
![TaskModuleInvocationSampleApp](https://user-images.githubusercontent.com/5042316/175665767-d6e6cbb3-b2c3-4c76-bd1a-9e3ba7b8984d.PNG)
![TaskModuleInvocationIssue1](https://user-images.githubusercontent.com/5042316

[2022-06-29 16:44] SonOfJesseAsSnekithan commented on #268
It works fine now. Few things I did : (1) approve the app in teams tenant for iOS teams client to work, side loading the app is enough for desktop client. (2) updated the teams app.

[2022-06-29 18:22] Nivedipa-MSFT commented on #268
@SonOfJesseAsSnekithan - Glad to hear that its working at your end.
We are closing this issue, please feel free to reopen it, if required.

[2022-06-29 18:22] #268 closed, assigned to nobody

[2022-06-29 18:22] ghost commented on #268
### Tell us about your experience!

Hi SonOfJesseAsSnekithan! This issue is closed in our system. We would like your [feedback on your experience with our support team and Platform](https://aka.ms/DevSupportFeedback).

Best regards,
Teams Platform

[2022-10-17 21:26] microsoft-github-policy-service[bot] opened #277 "This repo is missing important files"
There are important files that Microsoft projects should all have that are not present in this repository. A pull request has been opened to add the missing file(s). When the pr is merged this issue will be closed automatically.

Microsoft teams can [learn more about this effort and share feedback](https://docs.opensource.microsoft.com/releasing/maintain/templates/) within the open source guidance

[2022-10-17 21:27] ghost commented on #277
Hi microsoft-github-policy-service[bot]! Thank you for bringing this issue to our attention. We will investigate and if we require further information we will reach out in one business day. Please use [this link](https://aka.ms/DevCommunityEscalationForm) to escalate if you don't get replies.

Best regards, Teams Platform